{%- macro mark_if_active(name) %}
    {% if (dispatcher.getControllerName() == name) %}
        {% return ' active' %}
    {% endif %}
{%- endmacro %}

<ul class="nav nav-pills flex-column nav-sidebar">
    <li class="nav-item">
        <a href="{{ url('/') }}" class="nav-link{{ mark_if_active('projects') }}{{ mark_if_active('editions') }}">
			<span class="icon project">
				<span></span>
				<span></span>
				<span></span>
			</span>
            <span class="text">projects</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ url('apps/') }}" {{ mark_if_active('apps') }} class="nav-link">
			<span class="icon">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
					 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 54 54" style="enable-background:new 0 0 54 54;" xml:space="preserve">
				<g>
					<path d="M51.22,21h-5.052c-0.812,0-1.481-0.447-1.792-1.197s-0.153-1.54,0.42-2.114l3.572-3.571
						c0.525-0.525,0.814-1.224,0.814-1.966c0-0.743-0.289-1.441-0.814-1.967l-4.553-4.553c-1.05-1.05-2.881-1.052-3.933,0l-3.571,3.571
						c-0.574,0.573-1.366,0.733-2.114,0.421C33.447,9.313,33,8.644,33,7.832V2.78C33,1.247,31.753,0,30.22,0H23.78
						C22.247,0,21,1.247,21,2.78v5.052c0,0.812-0.447,1.481-1.197,1.792c-0.748,0.313-1.54,0.152-2.114-0.421l-3.571-3.571
						c-1.052-1.052-2.883-1.05-3.933,0l-4.553,4.553c-0.525,0.525-0.814,1.224-0.814,1.967c0,0.742,0.289,1.44,0.814,1.966l3.572,3.571
						c0.573,0.574,0.73,1.364,0.42,2.114S8.644,21,7.832,21H2.78C1.247,21,0,22.247,0,23.78v6.439C0,31.753,1.247,33,2.78,33h5.052
						c0.812,0,1.481,0.447,1.792,1.197s0.153,1.54-0.42,2.114l-3.572,3.571c-0.525,0.525-0.814,1.224-0.814,1.966
						c0,0.743,0.289,1.441,0.814,1.967l4.553,4.553c1.051,1.051,2.881,1.053,3.933,0l3.571-3.572c0.574-0.573,1.363-0.731,2.114-0.42
						c0.75,0.311,1.197,0.98,1.197,1.792v5.052c0,1.533,1.247,2.78,2.78,2.78h6.439c1.533,0,2.78-1.247,2.78-2.78v-5.052
						c0-0.812,0.447-1.481,1.197-1.792c0.751-0.312,1.54-0.153,2.114,0.42l3.571,3.572c1.052,1.052,2.883,1.05,3.933,0l4.553-4.553
						c0.525-0.525,0.814-1.224,0.814-1.967c0-0.742-0.289-1.44-0.814-1.966l-3.572-3.571c-0.573-0.574-0.73-1.364-0.42-2.114
						S45.356,33,46.168,33h5.052c1.533,0,2.78-1.247,2.78-2.78V23.78C54,22.247,52.753,21,51.22,21z M52,30.22
						C52,30.65,51.65,31,51.22,31h-5.052c-1.624,0-3.019,0.932-3.64,2.432c-0.622,1.5-0.295,3.146,0.854,4.294l3.572,3.571
						c0.305,0.305,0.305,0.8,0,1.104l-4.553,4.553c-0.304,0.304-0.799,0.306-1.104,0l-3.571-3.572c-1.149-1.149-2.794-1.474-4.294-0.854
						c-1.5,0.621-2.432,2.016-2.432,3.64v5.052C31,51.65,30.65,52,30.22,52H23.78C23.35,52,23,51.65,23,51.22v-5.052
						c0-1.624-0.932-3.019-2.432-3.64c-0.503-0.209-1.021-0.311-1.533-0.311c-1.014,0-1.997,0.4-2.761,1.164l-3.571,3.572
						c-0.306,0.306-0.801,0.304-1.104,0l-4.553-4.553c-0.305-0.305-0.305-0.8,0-1.104l3.572-3.571c1.148-1.148,1.476-2.794,0.854-4.294
						C10.851,31.932,9.456,31,7.832,31H2.78C2.35,31,2,30.65,2,30.22V23.78C2,23.35,2.35,23,2.78,23h5.052
						c1.624,0,3.019-0.932,3.64-2.432c0.622-1.5,0.295-3.146-0.854-4.294l-3.572-3.571c-0.305-0.305-0.305-0.8,0-1.104l4.553-4.553
						c0.304-0.305,0.799-0.305,1.104,0l3.571,3.571c1.147,1.147,2.792,1.476,4.294,0.854C22.068,10.851,23,9.456,23,7.832V2.78
						C23,2.35,23.35,2,23.78,2h6.439C30.65,2,31,2.35,31,2.78v5.052c0,1.624,0.932,3.019,2.432,3.64
						c1.502,0.622,3.146,0.294,4.294-0.854l3.571-3.571c0.306-0.305,0.801-0.305,1.104,0l4.553,4.553c0.305,0.305,0.305,0.8,0,1.104
						l-3.572,3.571c-1.148,1.148-1.476,2.794-0.854,4.294c0.621,1.5,2.016,2.432,3.64,2.432h5.052C51.65,23,52,23.35,52,23.78V30.22z"/>
					<path d="M27,18c-4.963,0-9,4.037-9,9s4.037,9,9,9s9-4.037,9-9S31.963,18,27,18z M27,34c-3.859,0-7-3.141-7-7s3.141-7,7-7
						s7,3.141,7,7S30.859,34,27,34z"/>
				</g>
				</svg>
			</span>
            <span class="text">apps</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ url('profile/') }}" {{ mark_if_active('profile') }} class="nav-link">
			<span class="icon">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
					 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
				<path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752
					c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348
					c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98
					c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033
					c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55
					c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287
					c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104
					c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1
					c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764
					l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5
					c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957
					c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545
					c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8
					s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545
					c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313
					c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735
					c-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167
					c-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552
					c-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01
					c-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53
					c-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233
					c-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04
					c-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816
					c-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279
					c-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313
					c1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221
					c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131
					c-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466
					c1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545
					c0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949
					l-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083
					C42.677,47.979,42.567,48.054,42.459,48.132z"/>
				</svg>
			</span>
            <span class="text">my data</span>
        </a>
    </li>
    {% if currentUserHasLicense %}
    <li class="nav-item">
        <a href="{{ url('teams/') }}" {{ mark_if_active('teams') }} class="nav-link">
			<span class="icon">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
					 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
				<g>
					<g>
						<g>
							<path d="M498.773,181.76l-25.493-14.72c1.813-11.733,1.813-23.68,0-35.413l25.493-14.72c5.12-2.987,6.827-9.493,3.947-14.613
								l-32-55.467c-2.987-5.12-9.493-6.827-14.613-3.947L456,42.987L431.68,57.6c-7.573-5.76-17.173-11.413-28.373-17.067V10.667
								C402.667,4.8,397.867,0,392,0h-64.533C321.6,0,316.8,4.8,316.8,10.667V39.36c-14.827,4.48-23.573,10.88-32.107,18.453
								l-26.027-14.72c-5.12-2.88-11.52-1.173-14.507,3.947l-32.32,55.467c-2.987,5.12-1.28,11.627,3.84,14.613l25.28,14.72
								c-1.813,11.733-1.92,23.68-0.107,35.413l-25.387,14.507c-5.013,2.987-6.827,9.387-3.947,14.507l32,55.467
								c1.813,3.093,5.12,5.013,8.64,5.12l-23.787,14.293c-7.573-5.76-17.173-11.413-29.013-17.067V224
								c0-5.867-4.8-10.667-10.667-10.667H125.12c-5.867,0-10.667,4.8-11.093,10.667v28.693c-14.4,4.48-23.147,10.88-31.68,18.453
								l-26.027-14.72c-5.12-2.88-11.52-1.173-14.507,3.947l-32.107,55.36c-2.987,5.12-1.28,11.627,3.84,14.613l25.28,14.72
								c-1.813,11.733-1.92,23.68-0.107,35.413l-25.493,14.613C8.107,398.08,6.4,404.587,9.28,409.6l32,55.467
								c2.88,5.013,9.28,6.827,14.4,4.053l26.667-14.827c8.427,7.467,17.173,13.867,32.747,18.453v28.587
								C114.453,507.2,119.253,512,125.12,512h63.68c5.867,0,10.667-4.8,10.667-10.667v-30.08c11.84-5.653,21.44-11.2,29.12-17.067
								l24.32,14.613c5.013,2.987,11.627,1.387,14.613-3.627c0,0,0-0.107,0.107-0.107l32-55.467c2.987-5.12,1.173-11.627-3.947-14.613
								l-25.493-14.72c1.813-11.733,1.813-23.68,0-35.413l25.493-14.72c5.12-2.987,6.827-9.493,3.947-14.507l-32-55.467
								c-1.6-3.307-5.013-5.333-8.64-5.12l25.707-14.293c8.427,7.467,17.173,13.867,32.107,18.453V288c0,5.867,4.8,10.667,10.667,10.667
								h64.427c5.867,0,10.667-4.8,10.24-10.667v-30.08c12.267-5.653,21.867-11.2,29.547-17.067L456,255.467
								c5.013,3.093,11.627,1.387,14.613-3.627c0,0,0-0.107,0.107-0.107l32-55.467C505.6,191.147,503.787,184.64,498.773,181.76z
								 M276.16,317.12l-22.72,13.12c-4.053,2.347-6.08,7.04-5.12,11.52c3.093,13.76,3.093,27.947,0,41.707
								c-0.96,4.587,1.067,9.173,5.12,11.52l22.72,13.12l-21.227,36.907l-21.44-12.907c-4.053-2.453-9.173-1.92-12.693,1.28
								c-7.68,7.04-19.733,14.187-35.84,21.333c-3.84,1.707-6.293,5.547-5.653,9.707v26.24h-43.733v-26.24
								c0.427-5.013-3.093-9.28-8-10.453c-18.24-4.053-25.28-10.453-36.373-20.693c-3.413-3.093-8.32-3.733-12.373-1.493l-24.107,13.44
								l-21.44-37.12l22.827-13.12c4.053-2.347,6.08-7.04,5.12-11.52c-3.093-13.76-3.093-27.947,0.107-41.707
								c0.96-4.587-1.067-9.173-5.12-11.52L33.6,317.12L55.253,280l23.573,13.333c4.16,2.133,9.28,1.493,12.8-1.707
								c10.667-9.813,17.707-16.32,36.053-20.373c4.907-1.067,8.32-5.44,9.067-10.453v-26.133h41.6v26.24c0.427,4.267,2.88,8,6.72,9.707
								c16.107,7.147,28.16,14.293,35.84,21.333c3.52,3.2,8.64,3.733,12.693,1.28l21.547-12.907L276.16,317.12z M457.6,231.68
								l-21.44-12.907c-4.053-2.453-9.173-1.92-12.693,1.28c-7.68,7.04-19.733,14.187-35.84,21.333c-3.84,1.707-6.293,5.547-5.653,9.707
								v26.24H338.24v-26.24c0.427-5.013-3.093-9.28-8-10.453c-18.24-4.053-25.28-10.453-36.373-20.693
								c-3.413-3.093-8.32-3.733-12.373-1.493l-24.107,13.44l-21.44-37.12l22.827-13.12c4.053-2.347,6.08-7.04,5.12-11.52
								c-3.093-13.76-3.093-27.947,0.107-41.707c0.96-4.587-1.067-9.173-5.12-11.52l-22.613-13.12l21.653-37.12L281.493,80
								c4.16,2.133,9.28,1.493,12.8-1.707C304.96,68.48,312,61.973,330.347,57.92c4.907-1.067,8.32-5.44,9.067-10.453V21.333h41.6v26.24
								c0.427,4.267,2.88,8,6.72,9.707c16.107,7.147,28.267,14.4,35.84,21.333c3.52,3.2,8.64,3.733,12.693,1.28L457.6,66.987
								l21.227,36.8L456,116.907c-4.053,2.347-6.08,7.04-5.12,11.52c3.093,13.76,3.093,27.947,0,41.707
								c-0.96,4.587,1.067,9.173,5.12,11.52l22.72,13.12L457.6,231.68z"/>
							<path d="M357.333,96C327.893,96,304,119.893,304,149.333c0,29.44,23.893,53.333,53.333,53.333s53.333-23.893,53.333-53.333
								C410.667,119.893,386.773,96,357.333,96z M357.333,181.333c-17.707,0-32-14.293-32-32c0-17.707,14.293-32,32-32
								c17.707,0,32,14.293,32,32C389.333,167.04,375.04,181.333,357.333,181.333z"/>
							<path d="M154.667,309.333c-29.44,0-53.333,23.893-53.333,53.333S125.227,416,154.667,416S208,392.107,208,362.667
								S184.107,309.333,154.667,309.333z M154.667,394.667c-17.707,0-32-14.293-32-32s14.293-32,32-32s32,14.293,32,32
								S172.373,394.667,154.667,394.667z"/>
						</g>
					</g>
				</g>
				</svg>
			</span>
            <span class="text">teams</span>
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a href="{{ url('license/') }}" {{ mark_if_active('license') }} class="nav-link">
			<span class="icon">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
					 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
				<g>
					<g>
						<g>
							<path d="M498.773,181.76l-25.493-14.72c1.813-11.733,1.813-23.68,0-35.413l25.493-14.72c5.12-2.987,6.827-9.493,3.947-14.613
								l-32-55.467c-2.987-5.12-9.493-6.827-14.613-3.947L456,42.987L431.68,57.6c-7.573-5.76-17.173-11.413-28.373-17.067V10.667
								C402.667,4.8,397.867,0,392,0h-64.533C321.6,0,316.8,4.8,316.8,10.667V39.36c-14.827,4.48-23.573,10.88-32.107,18.453
								l-26.027-14.72c-5.12-2.88-11.52-1.173-14.507,3.947l-32.32,55.467c-2.987,5.12-1.28,11.627,3.84,14.613l25.28,14.72
								c-1.813,11.733-1.92,23.68-0.107,35.413l-25.387,14.507c-5.013,2.987-6.827,9.387-3.947,14.507l32,55.467
								c1.813,3.093,5.12,5.013,8.64,5.12l-23.787,14.293c-7.573-5.76-17.173-11.413-29.013-17.067V224
								c0-5.867-4.8-10.667-10.667-10.667H125.12c-5.867,0-10.667,4.8-11.093,10.667v28.693c-14.4,4.48-23.147,10.88-31.68,18.453
								l-26.027-14.72c-5.12-2.88-11.52-1.173-14.507,3.947l-32.107,55.36c-2.987,5.12-1.28,11.627,3.84,14.613l25.28,14.72
								c-1.813,11.733-1.92,23.68-0.107,35.413l-25.493,14.613C8.107,398.08,6.4,404.587,9.28,409.6l32,55.467
								c2.88,5.013,9.28,6.827,14.4,4.053l26.667-14.827c8.427,7.467,17.173,13.867,32.747,18.453v28.587
								C114.453,507.2,119.253,512,125.12,512h63.68c5.867,0,10.667-4.8,10.667-10.667v-30.08c11.84-5.653,21.44-11.2,29.12-17.067
								l24.32,14.613c5.013,2.987,11.627,1.387,14.613-3.627c0,0,0-0.107,0.107-0.107l32-55.467c2.987-5.12,1.173-11.627-3.947-14.613
								l-25.493-14.72c1.813-11.733,1.813-23.68,0-35.413l25.493-14.72c5.12-2.987,6.827-9.493,3.947-14.507l-32-55.467
								c-1.6-3.307-5.013-5.333-8.64-5.12l25.707-14.293c8.427,7.467,17.173,13.867,32.107,18.453V288c0,5.867,4.8,10.667,10.667,10.667
								h64.427c5.867,0,10.667-4.8,10.24-10.667v-30.08c12.267-5.653,21.867-11.2,29.547-17.067L456,255.467
								c5.013,3.093,11.627,1.387,14.613-3.627c0,0,0-0.107,0.107-0.107l32-55.467C505.6,191.147,503.787,184.64,498.773,181.76z
								 M276.16,317.12l-22.72,13.12c-4.053,2.347-6.08,7.04-5.12,11.52c3.093,13.76,3.093,27.947,0,41.707
								c-0.96,4.587,1.067,9.173,5.12,11.52l22.72,13.12l-21.227,36.907l-21.44-12.907c-4.053-2.453-9.173-1.92-12.693,1.28
								c-7.68,7.04-19.733,14.187-35.84,21.333c-3.84,1.707-6.293,5.547-5.653,9.707v26.24h-43.733v-26.24
								c0.427-5.013-3.093-9.28-8-10.453c-18.24-4.053-25.28-10.453-36.373-20.693c-3.413-3.093-8.32-3.733-12.373-1.493l-24.107,13.44
								l-21.44-37.12l22.827-13.12c4.053-2.347,6.08-7.04,5.12-11.52c-3.093-13.76-3.093-27.947,0.107-41.707
								c0.96-4.587-1.067-9.173-5.12-11.52L33.6,317.12L55.253,280l23.573,13.333c4.16,2.133,9.28,1.493,12.8-1.707
								c10.667-9.813,17.707-16.32,36.053-20.373c4.907-1.067,8.32-5.44,9.067-10.453v-26.133h41.6v26.24c0.427,4.267,2.88,8,6.72,9.707
								c16.107,7.147,28.16,14.293,35.84,21.333c3.52,3.2,8.64,3.733,12.693,1.28l21.547-12.907L276.16,317.12z M457.6,231.68
								l-21.44-12.907c-4.053-2.453-9.173-1.92-12.693,1.28c-7.68,7.04-19.733,14.187-35.84,21.333c-3.84,1.707-6.293,5.547-5.653,9.707
								v26.24H338.24v-26.24c0.427-5.013-3.093-9.28-8-10.453c-18.24-4.053-25.28-10.453-36.373-20.693
								c-3.413-3.093-8.32-3.733-12.373-1.493l-24.107,13.44l-21.44-37.12l22.827-13.12c4.053-2.347,6.08-7.04,5.12-11.52
								c-3.093-13.76-3.093-27.947,0.107-41.707c0.96-4.587-1.067-9.173-5.12-11.52l-22.613-13.12l21.653-37.12L281.493,80
								c4.16,2.133,9.28,1.493,12.8-1.707C304.96,68.48,312,61.973,330.347,57.92c4.907-1.067,8.32-5.44,9.067-10.453V21.333h41.6v26.24
								c0.427,4.267,2.88,8,6.72,9.707c16.107,7.147,28.267,14.4,35.84,21.333c3.52,3.2,8.64,3.733,12.693,1.28L457.6,66.987
								l21.227,36.8L456,116.907c-4.053,2.347-6.08,7.04-5.12,11.52c3.093,13.76,3.093,27.947,0,41.707
								c-0.96,4.587,1.067,9.173,5.12,11.52l22.72,13.12L457.6,231.68z"/>
							<path d="M357.333,96C327.893,96,304,119.893,304,149.333c0,29.44,23.893,53.333,53.333,53.333s53.333-23.893,53.333-53.333
								C410.667,119.893,386.773,96,357.333,96z M357.333,181.333c-17.707,0-32-14.293-32-32c0-17.707,14.293-32,32-32
								c17.707,0,32,14.293,32,32C389.333,167.04,375.04,181.333,357.333,181.333z"/>
							<path d="M154.667,309.333c-29.44,0-53.333,23.893-53.333,53.333S125.227,416,154.667,416S208,392.107,208,362.667
								S184.107,309.333,154.667,309.333z M154.667,394.667c-17.707,0-32-14.293-32-32s14.293-32,32-32s32,14.293,32,32
								S172.373,394.667,154.667,394.667z"/>
						</g>
					</g>
				</g>
				</svg>
			</span>
            <span class="text">license</span>
        </a>
    </li>
    {% if isSuperAdmin %}
		<li class="nav-item">
			<a href="{{ url('settings') }}" {{ mark_if_active('settings') }} class="nav-link">
		<span class="icon">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
				 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
			<g>
				<g>
					<g>
						<path d="M498.773,181.76l-25.493-14.72c1.813-11.733,1.813-23.68,0-35.413l25.493-14.72c5.12-2.987,6.827-9.493,3.947-14.613
							l-32-55.467c-2.987-5.12-9.493-6.827-14.613-3.947L456,42.987L431.68,57.6c-7.573-5.76-17.173-11.413-28.373-17.067V10.667
							C402.667,4.8,397.867,0,392,0h-64.533C321.6,0,316.8,4.8,316.8,10.667V39.36c-14.827,4.48-23.573,10.88-32.107,18.453
							l-26.027-14.72c-5.12-2.88-11.52-1.173-14.507,3.947l-32.32,55.467c-2.987,5.12-1.28,11.627,3.84,14.613l25.28,14.72
							c-1.813,11.733-1.92,23.68-0.107,35.413l-25.387,14.507c-5.013,2.987-6.827,9.387-3.947,14.507l32,55.467
							c1.813,3.093,5.12,5.013,8.64,5.12l-23.787,14.293c-7.573-5.76-17.173-11.413-29.013-17.067V224
							c0-5.867-4.8-10.667-10.667-10.667H125.12c-5.867,0-10.667,4.8-11.093,10.667v28.693c-14.4,4.48-23.147,10.88-31.68,18.453
							l-26.027-14.72c-5.12-2.88-11.52-1.173-14.507,3.947l-32.107,55.36c-2.987,5.12-1.28,11.627,3.84,14.613l25.28,14.72
							c-1.813,11.733-1.92,23.68-0.107,35.413l-25.493,14.613C8.107,398.08,6.4,404.587,9.28,409.6l32,55.467
							c2.88,5.013,9.28,6.827,14.4,4.053l26.667-14.827c8.427,7.467,17.173,13.867,32.747,18.453v28.587
							C114.453,507.2,119.253,512,125.12,512h63.68c5.867,0,10.667-4.8,10.667-10.667v-30.08c11.84-5.653,21.44-11.2,29.12-17.067
							l24.32,14.613c5.013,2.987,11.627,1.387,14.613-3.627c0,0,0-0.107,0.107-0.107l32-55.467c2.987-5.12,1.173-11.627-3.947-14.613
							l-25.493-14.72c1.813-11.733,1.813-23.68,0-35.413l25.493-14.72c5.12-2.987,6.827-9.493,3.947-14.507l-32-55.467
							c-1.6-3.307-5.013-5.333-8.64-5.12l25.707-14.293c8.427,7.467,17.173,13.867,32.107,18.453V288c0,5.867,4.8,10.667,10.667,10.667
							h64.427c5.867,0,10.667-4.8,10.24-10.667v-30.08c12.267-5.653,21.867-11.2,29.547-17.067L456,255.467
							c5.013,3.093,11.627,1.387,14.613-3.627c0,0,0-0.107,0.107-0.107l32-55.467C505.6,191.147,503.787,184.64,498.773,181.76z
							 M276.16,317.12l-22.72,13.12c-4.053,2.347-6.08,7.04-5.12,11.52c3.093,13.76,3.093,27.947,0,41.707
							c-0.96,4.587,1.067,9.173,5.12,11.52l22.72,13.12l-21.227,36.907l-21.44-12.907c-4.053-2.453-9.173-1.92-12.693,1.28
							c-7.68,7.04-19.733,14.187-35.84,21.333c-3.84,1.707-6.293,5.547-5.653,9.707v26.24h-43.733v-26.24
							c0.427-5.013-3.093-9.28-8-10.453c-18.24-4.053-25.28-10.453-36.373-20.693c-3.413-3.093-8.32-3.733-12.373-1.493l-24.107,13.44
							l-21.44-37.12l22.827-13.12c4.053-2.347,6.08-7.04,5.12-11.52c-3.093-13.76-3.093-27.947,0.107-41.707
							c0.96-4.587-1.067-9.173-5.12-11.52L33.6,317.12L55.253,280l23.573,13.333c4.16,2.133,9.28,1.493,12.8-1.707
							c10.667-9.813,17.707-16.32,36.053-20.373c4.907-1.067,8.32-5.44,9.067-10.453v-26.133h41.6v26.24c0.427,4.267,2.88,8,6.72,9.707
							c16.107,7.147,28.16,14.293,35.84,21.333c3.52,3.2,8.64,3.733,12.693,1.28l21.547-12.907L276.16,317.12z M457.6,231.68
							l-21.44-12.907c-4.053-2.453-9.173-1.92-12.693,1.28c-7.68,7.04-19.733,14.187-35.84,21.333c-3.84,1.707-6.293,5.547-5.653,9.707
							v26.24H338.24v-26.24c0.427-5.013-3.093-9.28-8-10.453c-18.24-4.053-25.28-10.453-36.373-20.693
							c-3.413-3.093-8.32-3.733-12.373-1.493l-24.107,13.44l-21.44-37.12l22.827-13.12c4.053-2.347,6.08-7.04,5.12-11.52
							c-3.093-13.76-3.093-27.947,0.107-41.707c0.96-4.587-1.067-9.173-5.12-11.52l-22.613-13.12l21.653-37.12L281.493,80
							c4.16,2.133,9.28,1.493,12.8-1.707C304.96,68.48,312,61.973,330.347,57.92c4.907-1.067,8.32-5.44,9.067-10.453V21.333h41.6v26.24
							c0.427,4.267,2.88,8,6.72,9.707c16.107,7.147,28.267,14.4,35.84,21.333c3.52,3.2,8.64,3.733,12.693,1.28L457.6,66.987
							l21.227,36.8L456,116.907c-4.053,2.347-6.08,7.04-5.12,11.52c3.093,13.76,3.093,27.947,0,41.707
							c-0.96,4.587,1.067,9.173,5.12,11.52l22.72,13.12L457.6,231.68z"/>
						<path d="M357.333,96C327.893,96,304,119.893,304,149.333c0,29.44,23.893,53.333,53.333,53.333s53.333-23.893,53.333-53.333
							C410.667,119.893,386.773,96,357.333,96z M357.333,181.333c-17.707,0-32-14.293-32-32c0-17.707,14.293-32,32-32
							c17.707,0,32,14.293,32,32C389.333,167.04,375.04,181.333,357.333,181.333z"/>
						<path d="M154.667,309.333c-29.44,0-53.333,23.893-53.333,53.333S125.227,416,154.667,416S208,392.107,208,362.667
							S184.107,309.333,154.667,309.333z M154.667,394.667c-17.707,0-32-14.293-32-32s14.293-32,32-32s32,14.293,32,32
							S172.373,394.667,154.667,394.667z"/>
					</g>
				</g>
			</g>
			</svg>
		</span>
				<span class="text">admin settings</span>
			</a>
		</li>
    {% endif %}
    <li class="nav-item logout">
        <a href="{{ url('session/end') }}" class="nav-link">
			<span class="icon">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                     y="0px"
                     viewBox="0 0 490.693 490.693" style="enable-background:new 0 0 490.693 490.693;"
                     xml:space="preserve">
<g>
<g>
	<g>
		<path d="M289.6,373.453c-6.613-0.96-12.267,4.16-12.267,10.56v74.667h-256V32.013h256v74.347c0,5.333,3.84,10.133,9.067,10.88
			c6.613,0.96,12.267-4.16,12.267-10.56V21.347c0-5.867-4.8-10.667-10.667-10.667H10.667C4.8,10.68,0,15.48,0,21.347v448
			c0,5.867,4.8,10.667,10.667,10.667H288c5.867,0,10.667-4.8,10.667-10.667v-85.013C298.667,379,294.827,374.2,289.6,373.453z"/>
		<path d="M487.573,237.88L380.907,131.213c-4.267-4.053-10.987-3.947-15.04,0.213c-3.947,4.16-3.947,10.667,0,14.827
			l88.427,88.427H128.32c-5.227,0-9.92,3.627-10.773,8.853c-1.173,6.72,4.053,12.48,10.56,12.48H454.4l-88.533,88.427
			c-4.267,4.053-4.373,10.88-0.213,15.04c4.053,4.267,10.88,4.373,15.04,0.213c0.107-0.107,0.213-0.213,0.213-0.213
			l106.667-106.667C491.733,248.867,491.733,242.04,487.573,237.88z"/>
	</g>
</g>
</g>
</svg>
			</span>
            <span class="text">logout</span>
        </a>
    </li>
</ul>