$toolsWidth: 85px;
$coversBarWidth: 386px;
$rightSidePanelWidth: $toolsWidth + $coversBarWidth;
$rightSidePanelHiddenWidth: $toolsWidth;

$shadowsAlpha: 0.3;

// pallete
$colorMainDark: #363636;
$colorMainLight: #636363;
$colorActiveBlue: #0096d5;
$colorDarkBlue: #025286;
$colorDarkRed: #c80000;
$colorBgGray: #eeeeee;
$colorPanelGray: #f6f6f6;
$colorGrayButton: #aeaeae;

$addCoverHeight: 60px;
$coversHead: 45px;

$blockerZIndex: 2000;
$loaderZIndex: $blockerZIndex+1;

// colors setup
$editPanelBgColor: $colorActiveBlue;
$rightSidePanelBgColor: #fff;
$addButtonColor: $colorActiveBlue;

// left menu
$leftMenuWidth: 330px;
$leftMenuHiddenWidth: 20px;