/* region Apps */

.apps {
  min-height: 480px;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 25px 25px 80px 25px;

  .block-header {
    margin-bottom: 10px;
  }

  .search input {
    height: 39px;
    text-align: center;
    background: #f6f6f6 url(../img/search.png) center left+10px no-repeat;
    font-size: 20px;
    border: 0;
    padding: 0 20px 0 45px;
    color: #444;
  }

  h4 {
    margin-bottom: 30px;
  }

  .block-content {
    margin-left: 0;
    margin-right: 0;
  }

  .list {
    width: 100%;
  }

  table tr td {
    background: #f6f6f6;
    border-bottom: 3px solid #fff;
    vertical-align: middle;
    padding: 15px;
    font-size: 20px;
    color: #444;
  }

  .key {
    img {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      font-size: 20px;
      color: #444;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .block-footer {
    display: block;

    span {
      font-size: 20px;
      color: #005286;
      display: inline-block;
      vertical-align: middle;
    }

    .items-info {
      padding: 9px;
    }
  }

  .action {
    .view-keys {
      cursor: pointer;
    }

    &.add {
      color: #fff;
      display: inline-block;
      font-weight: 300;
      text-align: center;
      font-size: 20px;
      vertical-align: middle;
      text-decoration: none;
      margin-top: 10px;
      width: 100%;
      max-width: 220px;
    }

    &.delete {
      min-width: 45px;
      width: 45px;
      padding: 9px 13px;
      display: inline-block;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (max-width: 1200px) {
  .apps table tr {
    td,
    td span {
      font-size: 17px;
    }

    a {
      width: 140px;
      font-size: 16px;
      text-align: center;
    }

    td.key {
      width: 30%;
    }

    .key span {
      display: inline-block;
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
    }
  }
}

@media (max-width: 992px) {
  .apps tr {
    border-bottom: 7px solid #fff;
    display: block;

    td {
      display: block;
      border: 0;
      width: 100% !important;
    }
  }
}

@media (max-width: 700px) {
  .apps .block-footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 40px;
  }

  .apps .block-footer span {
    display: none;
  }

  .apps {
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .apps h4 {
    margin-bottom: 20px !important;
  }

  .apps .search {
    display: block;
    position: static;
    margin-bottom: 30px;
  }

  .apps .search input {
    width: 100%;
  }

  /* region Form app */

  .form.app .btn.action.save {
    background: #0095d5 url(../img/save.png) center left+20px no-repeat;
    width: 200px;
  }

  /* endregion Form app */
}

.modal-apps {
  .platform-info {
    border-top: 1px solid #ccc;
    padding-top: 20px;

    .platform-title {
      .title {
        color: #aaa;
      }
    }
  }
}

/* endregion Apps */