/* region License */

.license.ui_block {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: 20px;
}

.license.ui_block section {
  margin-bottom: 40px;
}

.license.ui_block .block-header,
.license.ui_block .block-content,
.license.ui_block .block-footer,
.license.ui_block .block-footer .payment {
  margin: 0;
}

.license.ui_block .block-header h5.block-title {
  margin: 0 0 20px 0;
}

.license table td {
  padding: 20px;
  vertical-align: middle;
  font-size: 20px;
  color: #444444;
  font-weight: 300;
}

.license .btn {
  line-height: 32px;
  //padding: 0 30px 0 20px;
  font-size: 20px;
  margin: 0;
  color: #fff;
}

.license .btn.action.upgrade {
  display: initial;
  font-size: 18px;
  background: #328aca;
  padding: 4px 25px;
  margin: 0 0 0 auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 30px;
}

.action.change {
  color: #fff;
}
.license .vertical-align-middle {
  padding: 18px 0;
}

.license .payment .payment-image {
  padding: 10px 0 10px 0;
}

.cloud-space h5.storage-total {
  color: #444;
}

.cloud-space .actions .description h5 {
  margin: 0;
  padding: 8px 0;
  color: #444;
}

.cloud-space .space {
  margin-bottom: 39px;
}

/* endregion License*/

/* region Traffic */

.traffic.ui_block .row:not(.actions) {
  margin-right: 0;
  margin-left: 0;
}

.traffic .date-range {
  color: #0095d5;
}

.traffic .total h1 {
  font-size: 55px;
  color: #0095d5;
  line-height: 55px;
}

.traffic .info {
  margin-top: 30px;
  margin-bottom: 5px;
}

.traffic .info h5,
.traffic .description h5 {
  color: #444444;
}

.traffic .description h5 {
  margin: 0;
  padding: 8px 0;
}

/* endregion Traffic */