.ui_block .block-header,
.ui_block .block-content,
.ui_block .block-footer {
  margin: 0;
}

.plan {
  background-color: #f5f5f5;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 1px 1px 1px 15px;
  width: 100%;
  float: left;
  height: 300px;
  position: relative;
  text-align: center;

  .section {
    margin: 40px 0 40px 0;
  }

  .title {
    color: #0095d5;
    font-size: 55px;
  }

  .price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 40px;
    font-weight: normal;
  }

  .content {
    color: rgba(0, 0, 0, 0.65);
    font-weight: normal;
    line-height: 27px;
    margin: 0 auto;
  }
}