@import "vars";

.content-list {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-left: 30px;

  .icon-wrapper {
    margin: 0 10px;
    text-align: center;

    .icon-action {
      padding: 0;
      .action {
        &.edit,
        &.access,
        &.delete,
        &.statistics{
          display: inline-block;
          background-color: #0097d6;
          height: 45px;
          width: 45px;
          border-radius: 50%;
        }
        &.access {
          background-color: #95a5a6;
        }
        &.delete {
          background-color: #e42022;
        }
        &.statistics {
          background-color: #082657;
        }
      }
    }
  }

  .list-title {
    margin: 0 0 25px;
    font-size: 20px;
    color: #005286;
    font-weight: 300;
  }

  .list-items {
    margin: 60px 0;

    .list-item {
      //display: flex;
      width: 100%;
      border-bottom: 1px solid #ccc;
      background: #f6f6f6;
      margin-bottom: 4px;
      position: relative;
    }
  }

  .image {
    padding: 15px;
    //width: 150px;
    vertical-align: middle;
    text-align: center;

    img {
      max-width: 110px;
      max-height: 140px;
    }

    div {
      width: 110px;
      height: 140px;
      display: inline-block;
    }

    img, div {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    }
  }

  .title {
    font-size: 30px;
    color: $colorActiveBlue;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;
    padding: 0;
  }

  .pages {
    font-size: 20px;
    color: #444444;
    margin-bottom: 18px;
  }

  .memory {
    font-size: 0;

    img {
      display: inline-block;
      vertical-align: bottom;
    }

    span {
      font-size: 20px;
      color: $colorActiveBlue;
      display: inline-block;
      margin-left: 20px;
    }
  }

  .actions {
    vertical-align: bottom;
    text-align: right;
    padding: 15px;

    .action {
      width: 180px;

      img {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        font-size: 20px;
      }
    }
    .editions {
      img {
        padding-right: 10px;
      }
    }
  }

  .info {
    .action {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .list-bottom {
    position: relative;
    display: table;
    width: 100%;
  }

  .action.add {
    display: inline-block;
    background: #0095d5;
    line-height: 32px;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
  }

  .pagination {
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;

    .page-wrapper {
      display: inline-block;
      margin-left: 5px;
    }

    .page {
      display: inline-block;
      height: 39px;
      background: #eee;
      line-height: 39px;
      font-size: 20px;
      min-width: 39px;
      text-align: center;
      color: #0095d5;
      text-decoration: none;

      &.active {
        background: #0095d5;
        color: #fff;
      }
    }
  }
}