@font-face {
  font-family: avenirLight;
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: avenirBlack;
  src: url("../fonts/AvenirLTStd-Black.woff");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: avenirLight, sans-serif;
  background-color: #eeeeee;
}

.card.sign-in {
  position: absolute;
  width: 360px;
  height: 500px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .card-image {
    margin: 60px auto;
    width: 80%;
    height: auto;
  }

  input {
    border: none;
    font-size: 1.1rem;
  }

  .help-link {
    color: #2ca8dc;
    font-size: 0.9em;
    margin-top: 18px;
  }

  .btn {
    padding: 7px;
    border-radius: 0;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .sign-in-google {
    border: 1px solid #aaa;
    color: #000;
    position: relative;

    img {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 10px;
      left: 55px;
    }
  }

  .btn-primary.btn-sign-in {
    background-color: #0096d5;
  }

  .btn-sign-in-facebook {
    background-color: #015287;
  }

  .actions {
    margin-top: 30px;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .divider {
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

.logo-bottom {
  position: absolute;
  bottom: 2px;
  right: 0;
}

.errors-container {
  position: relative;
}

.alert {
  border-radius: 0;
  border: none;
  padding: 14px 12px 14px 75px;
  font-size: 1.5em;
}

.alert:before {
  content: url('../img/logo_background.png');
  position: absolute;
  top: 8px;
  left: 14px;
}

.alert-success {
  color: #fff;
  background-color: #0097d6;
}