@import "vars";

.custom-fields {
  margin: 20px 0;
  min-height: 200px;
  width: 100%;
}

#context-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  z-index: $blockerZIndex;
  max-width: 280px;

  box-shadow: 0 8px 8px rgba(0, 0, 0, $shadowsAlpha);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, $shadowsAlpha);

  .col {
      text-align: center;
  }

  .title {
    background: $colorActiveBlue;
    color: white;
    padding: 10px;
  }

  .actions {
    margin: 10px;

    a {
        img {
            width: 90px;
            height: 90px;
        }
    }

    span {
      display: block;
    }
  }
}

#modal-object-replace {
  .used-covers {
    display: none;

    .object-covers-list {
        min-height: 150px;
        max-height: 350px;
        overflow-y: auto;
    }

    .cover {
        width: 100px;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        margin: 10px;
    }

    .image {
      display: block;
      position: relative;
      //margin: 22px auto;
      width: 100px;
      height: 135px;
      //overflow: hidden;

      img {
          -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

#object-replace-input {
    display: none;
}