.settings {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin: 0 30px 30px 30px;

  .accordion {
    .card-header {
      padding: 0;
    }
  }

  button[data-toggle="collapse"] {
    color: #fff;
    background-color: #0086be;
    width: 100%;
  }

  .youtube-download-access-list {
    .list-group-item {
      padding: 24px;

      .action.remove {
        min-width: 0px;
        width: 45px;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}