/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-back-name: 's-back';
$s-back-x: 44px;
$s-back-y: 0px;
$s-back-offset-x: -44px;
$s-back-offset-y: 0px;
$s-back-width: 44px;
$s-back-height: 44px;
$s-back-total-width: 192px;
$s-back-total-height: 172px;
$s-back-image: 'sprites.png';
$s-back: (44px, 0px, -44px, 0px, 44px, 44px, 192px, 172px, 'sprites.png', 's-back', );
$s-big-plus-name: 's-big-plus';
$s-big-plus-x: 0px;
$s-big-plus-y: 132px;
$s-big-plus-offset-x: 0px;
$s-big-plus-offset-y: -132px;
$s-big-plus-width: 43px;
$s-big-plus-height: 40px;
$s-big-plus-total-width: 192px;
$s-big-plus-total-height: 172px;
$s-big-plus-image: 'sprites.png';
$s-big-plus: (0px, 132px, 0px, -132px, 43px, 40px, 192px, 172px, 'sprites.png', 's-big-plus', );
$s-forward-name: 's-forward';
$s-forward-x: 0px;
$s-forward-y: 44px;
$s-forward-offset-x: 0px;
$s-forward-offset-y: -44px;
$s-forward-width: 44px;
$s-forward-height: 44px;
$s-forward-total-width: 192px;
$s-forward-total-height: 172px;
$s-forward-image: 'sprites.png';
$s-forward: (0px, 44px, 0px, -44px, 44px, 44px, 192px, 172px, 'sprites.png', 's-forward', );
$s-move-name: 's-move';
$s-move-x: 44px;
$s-move-y: 44px;
$s-move-offset-x: -44px;
$s-move-offset-y: -44px;
$s-move-width: 44px;
$s-move-height: 44px;
$s-move-total-width: 192px;
$s-move-total-height: 172px;
$s-move-image: 'sprites.png';
$s-move: (44px, 44px, -44px, -44px, 44px, 44px, 192px, 172px, 'sprites.png', 's-move', );
$s-move-active-name: 's-move_active';
$s-move-active-x: 88px;
$s-move-active-y: 0px;
$s-move-active-offset-x: -88px;
$s-move-active-offset-y: 0px;
$s-move-active-width: 44px;
$s-move-active-height: 44px;
$s-move-active-total-width: 192px;
$s-move-active-total-height: 172px;
$s-move-active-image: 'sprites.png';
$s-move-active: (88px, 0px, -88px, 0px, 44px, 44px, 192px, 172px, 'sprites.png', 's-move_active', );
$s-preview-name: 's-preview';
$s-preview-x: 88px;
$s-preview-y: 44px;
$s-preview-offset-x: -88px;
$s-preview-offset-y: -44px;
$s-preview-width: 44px;
$s-preview-height: 44px;
$s-preview-total-width: 192px;
$s-preview-total-height: 172px;
$s-preview-image: 'sprites.png';
$s-preview: (88px, 44px, -88px, -44px, 44px, 44px, 192px, 172px, 'sprites.png', 's-preview', );
$s-rotation-name: 's-rotation';
$s-rotation-x: 0px;
$s-rotation-y: 88px;
$s-rotation-offset-x: 0px;
$s-rotation-offset-y: -88px;
$s-rotation-width: 44px;
$s-rotation-height: 44px;
$s-rotation-total-width: 192px;
$s-rotation-total-height: 172px;
$s-rotation-image: 'sprites.png';
$s-rotation: (0px, 88px, 0px, -88px, 44px, 44px, 192px, 172px, 'sprites.png', 's-rotation', );
$s-rotation-active-name: 's-rotation_active';
$s-rotation-active-x: 44px;
$s-rotation-active-y: 88px;
$s-rotation-active-offset-x: -44px;
$s-rotation-active-offset-y: -88px;
$s-rotation-active-width: 44px;
$s-rotation-active-height: 44px;
$s-rotation-active-total-width: 192px;
$s-rotation-active-total-height: 172px;
$s-rotation-active-image: 'sprites.png';
$s-rotation-active: (44px, 88px, -44px, -88px, 44px, 44px, 192px, 172px, 'sprites.png', 's-rotation_active', );
$s-save-name: 's-save';
$s-save-x: 88px;
$s-save-y: 88px;
$s-save-offset-x: -88px;
$s-save-offset-y: -88px;
$s-save-width: 44px;
$s-save-height: 44px;
$s-save-total-width: 192px;
$s-save-total-height: 172px;
$s-save-image: 'sprites.png';
$s-save: (88px, 88px, -88px, -88px, 44px, 44px, 192px, 172px, 'sprites.png', 's-save', );
$s-save-active-name: 's-save_active';
$s-save-active-x: 132px;
$s-save-active-y: 0px;
$s-save-active-offset-x: -132px;
$s-save-active-offset-y: 0px;
$s-save-active-width: 44px;
$s-save-active-height: 44px;
$s-save-active-total-width: 192px;
$s-save-active-total-height: 172px;
$s-save-active-image: 'sprites.png';
$s-save-active: (132px, 0px, -132px, 0px, 44px, 44px, 192px, 172px, 'sprites.png', 's-save_active', );
$s-scale-name: 's-scale';
$s-scale-x: 132px;
$s-scale-y: 44px;
$s-scale-offset-x: -132px;
$s-scale-offset-y: -44px;
$s-scale-width: 44px;
$s-scale-height: 44px;
$s-scale-total-width: 192px;
$s-scale-total-height: 172px;
$s-scale-image: 'sprites.png';
$s-scale: (132px, 44px, -132px, -44px, 44px, 44px, 192px, 172px, 'sprites.png', 's-scale', );
$s-scale-active-name: 's-scale_active';
$s-scale-active-x: 0px;
$s-scale-active-y: 0px;
$s-scale-active-offset-x: 0px;
$s-scale-active-offset-y: 0px;
$s-scale-active-width: 44px;
$s-scale-active-height: 44px;
$s-scale-active-total-width: 192px;
$s-scale-active-total-height: 172px;
$s-scale-active-image: 'sprites.png';
$s-scale-active: (0px, 0px, 0px, 0px, 44px, 44px, 192px, 172px, 'sprites.png', 's-scale_active', );
$s-upload-name: 's-upload';
$s-upload-x: 132px;
$s-upload-y: 88px;
$s-upload-offset-x: -132px;
$s-upload-offset-y: -88px;
$s-upload-width: 44px;
$s-upload-height: 44px;
$s-upload-total-width: 192px;
$s-upload-total-height: 172px;
$s-upload-image: 'sprites.png';
$s-upload: (132px, 88px, -132px, -88px, 44px, 44px, 192px, 172px, 'sprites.png', 's-upload', );
$s-add-name: 's-add';
$s-add-x: 156px;
$s-add-y: 132px;
$s-add-offset-x: -156px;
$s-add-offset-y: -132px;
$s-add-width: 16px;
$s-add-height: 16px;
$s-add-total-width: 192px;
$s-add-total-height: 172px;
$s-add-image: 'sprites.png';
$s-add: (156px, 132px, -156px, -132px, 16px, 16px, 192px, 172px, 'sprites.png', 's-add', );
$s-check-name: 's-check';
$s-check-x: 131px;
$s-check-y: 132px;
$s-check-offset-x: -131px;
$s-check-offset-y: -132px;
$s-check-width: 25px;
$s-check-height: 25px;
$s-check-total-width: 192px;
$s-check-total-height: 172px;
$s-check-image: 'sprites.png';
$s-check: (131px, 132px, -131px, -132px, 25px, 25px, 192px, 172px, 'sprites.png', 's-check', );
$s-close-b-name: 's-close-b';
$s-close-b-x: 176px;
$s-close-b-y: 45px;
$s-close-b-offset-x: -176px;
$s-close-b-offset-y: -45px;
$s-close-b-width: 14px;
$s-close-b-height: 15px;
$s-close-b-total-width: 192px;
$s-close-b-total-height: 172px;
$s-close-b-image: 'sprites.png';
$s-close-b: (176px, 45px, -176px, -45px, 14px, 15px, 192px, 172px, 'sprites.png', 's-close-b', );
$s-close-name: 's-close';
$s-close-x: 176px;
$s-close-y: 60px;
$s-close-offset-x: -176px;
$s-close-offset-y: -60px;
$s-close-width: 14px;
$s-close-height: 15px;
$s-close-total-width: 192px;
$s-close-total-height: 172px;
$s-close-image: 'sprites.png';
$s-close: (176px, 60px, -176px, -60px, 14px, 15px, 192px, 172px, 'sprites.png', 's-close', );
$s-delete-name: 's-delete';
$s-delete-x: 176px;
$s-delete-y: 0px;
$s-delete-offset-x: -176px;
$s-delete-offset-y: 0px;
$s-delete-width: 16px;
$s-delete-height: 15px;
$s-delete-total-width: 192px;
$s-delete-total-height: 172px;
$s-delete-image: 'sprites.png';
$s-delete: (176px, 0px, -176px, 0px, 16px, 15px, 192px, 172px, 'sprites.png', 's-delete', );
$s-download-name: 's-download';
$s-download-x: 43px;
$s-download-y: 132px;
$s-download-offset-x: -43px;
$s-download-offset-y: -132px;
$s-download-width: 44px;
$s-download-height: 38px;
$s-download-total-width: 192px;
$s-download-total-height: 172px;
$s-download-image: 'sprites.png';
$s-download: (43px, 132px, -43px, -132px, 44px, 38px, 192px, 172px, 'sprites.png', 's-download', );
$s-edit-b-name: 's-edit-b';
$s-edit-b-x: 176px;
$s-edit-b-y: 15px;
$s-edit-b-offset-x: -176px;
$s-edit-b-offset-y: -15px;
$s-edit-b-width: 16px;
$s-edit-b-height: 15px;
$s-edit-b-total-width: 192px;
$s-edit-b-total-height: 172px;
$s-edit-b-image: 'sprites.png';
$s-edit-b: (176px, 15px, -176px, -15px, 16px, 15px, 192px, 172px, 'sprites.png', 's-edit-b', );
$s-edit-name: 's-edit';
$s-edit-x: 176px;
$s-edit-y: 30px;
$s-edit-offset-x: -176px;
$s-edit-offset-y: -30px;
$s-edit-width: 16px;
$s-edit-height: 15px;
$s-edit-total-width: 192px;
$s-edit-total-height: 172px;
$s-edit-image: 'sprites.png';
$s-edit: (176px, 30px, -176px, -30px, 16px, 15px, 192px, 172px, 'sprites.png', 's-edit', );
$s-pdf-upload-name: 's-pdf-upload';
$s-pdf-upload-x: 87px;
$s-pdf-upload-y: 132px;
$s-pdf-upload-offset-x: -87px;
$s-pdf-upload-offset-y: -132px;
$s-pdf-upload-width: 44px;
$s-pdf-upload-height: 38px;
$s-pdf-upload-total-width: 192px;
$s-pdf-upload-total-height: 172px;
$s-pdf-upload-image: 'sprites.png';
$s-pdf-upload: (87px, 132px, -87px, -132px, 44px, 38px, 192px, 172px, 'sprites.png', 's-pdf-upload', );
$spritesheet-width: 192px;
$spritesheet-height: 172px;
$spritesheet-image: 'sprites.png';
$spritesheet-sprites: ($s-back, $s-big-plus, $s-forward, $s-move, $s-move-active, $s-preview, $s-rotation, $s-rotation-active, $s-save, $s-save-active, $s-scale, $s-scale-active, $s-upload, $s-add, $s-check, $s-close-b, $s-close, $s-delete, $s-download, $s-edit-b, $s-edit, $s-pdf-upload, );
$spritesheet: (192px, 172px, 'sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
