.statistics {
  margin: 0 30px 30px 30px;
  padding: 10px;
  background: #fff;
  //border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

  .filters {
    input,
    span {
      margin-right: 10px;
    }
    span {
      line-height: 46px;
    }
  }
}

.container > .row {
  margin: 20px;
}

.platform {
  img {
    width: 20px;
    height: auto;
  }
}

.image-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;

  .image {
    width: 100%;
    height: auto;
  }
}

.page {
  .count, .total {
    padding: 5px;
  }

  .total-wrapper {
    background-color: #eee;
  }
}

.statistic-api-keys {
  .title {
    font-size: 24px;
  }

  .key-wrapper {
    margin: 10px;

    .key {
      font-size: 22px;
      margin: 12px 0;
    }
  }
  a.btn {
    &.btn-primary {
      color: #ffffff;
    }
  }
}
.datepicker td,
.datepicker th {
  padding: 10px;
}
