@import "vars";
@import "linear-gradient";
@import "sprites";

@mixin sprite-centered-after-top-partial($sprite) {
  top: 50%;
  margin-top: nth($sprite, 6)/2*-1;
}

@mixin sprite-centered-after-left-partial($sprite) {
  left: 50%; /* centers the left edge of the sprite */
  margin-left: nth($sprite, 5)/2*-1; /* this centers the actual sprite--this is half the sprite-window width. if you don't do this, the left edge will be centered instead of the center of the sprite.  */
}

@mixin sprite-centered-after($sprite, $left:true, $top:true) {
  content: "";
  position: absolute;
  @if $top==true {
    @include sprite-centered-after-top-partial($sprite);
  }
  @if $left==true {
    @include sprite-centered-after-left-partial($sprite);
  }
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@font-face {
  font-family: an;
  src: url("../fonts/Avenir Next.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: a;
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AB";
  src: url("../fonts/AvenirLTStd-Black.woff");
  font-style: normal;
  font-weight: normal;
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

html {
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: white;
  line-height: 1;
  color: black;
  font-family: a;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  border: 1px solid #da2224 !important;
  box-shadow: 0 0 3px #da2224;
  -moz-box-shadow: 0 0 3px #da2224;
  -webkit-box-shadow: 0 0 3px #da2224;
}

.main {
  position: absolute;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  left: $leftMenuWidth;
  right: $rightSidePanelWidth;
  top: 0;
  bottom: 0;
}

.hidden {
  display: none;
}

.messages-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.right-sidebar-hidden {
  .viewport {
    width: 100%;
  }

  .main {
    right: $rightSidePanelHiddenWidth;
  }

  .tools-panel {
    right: 74px;
  }

  .right-side-panel {
    right: -$rightSidePanelWidth + $rightSidePanelHiddenWidth;

    .toggle-sidebar {
      .show-sidebar {
        display: block;
      }

      .hide-sidebar {
        display: none;
      }
    }
  }
  .scene-view {
    .footer {
      .scene-scale-wrapper {
        margin-right: 0;
      }
    }
  }

  .settings-bar-toggle-wrapper {
    .settings-bar-toggle {
      transform: rotate(0deg);
      padding: 5px 28px 12px 10px;
    }
  }
}

.main-sidebar-hidden {
  .main-sidebar {
    left: -$leftMenuWidth + 20;
    display: none;

    .toggle-sidebar {
      .show-sidebar {
        display: block;
      }

      .hide-sidebar {
        display: none;
      }
    }
  }

  .main {
    left: $leftMenuHiddenWidth;
  }

  .admin-panel-slim {
    padding-left: $leftMenuHiddenWidth;
  }
}

.main-sidebar {
  position: fixed;
  background-color: #fff;
  width: $leftMenuWidth;
  z-index: 200;
  padding-right: 12px;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  .toggle-sidebar {
    right: 0;
    position: absolute;
    top: 10px;
    width: 1em;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background-color: $colorActiveBlue;
    color: #ffffff;
    cursor: pointer;

    .show-sidebar {
      display: none;
    }

    .show-sidebar,
    .hide-sidebar {
      line-height: inherit;
    }
  }

  .top {
    padding: 25px 0 18px;
  }

  .logo {
    margin-bottom: 20px;
    display: inline-block;

    img {
      display: block;
      width: 80%;
      margin: 0 auto;

      &.logo-mini {
        display: none;
      }
    }
  }

  .name {
    color: #0494da;
    font-size: 17px;
    margin: 0;
    line-height: normal;
  }

  .nav {
    svg {
      max-width: 31px;
      display: inline-block;

      path {
        fill: #4b4b4b;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }

    a {
      padding: 15px 0;
      border-top: 1px solid #e8e8e8;
      font-size: 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      .text {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    span {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    li:first-child {
      a {
        border-top: 0;
      }
    }

    .icon {
      width: 85px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      &.project {
        span {
          display: block;
          width: 24px;
          height: 6px;
          border: 1px solid #4b4b4b;
          margin: 1px auto;
        }
      }
    }

    a:hover,
    a.active {
      background: #0096d5;

      path,
      span {
        fill: #fff;
        border-color: #fff;
        color: #fff;
      }
    }

    .text {
      display: inline-block;
      color: #4b4b4b;
    }
  }

  .logout {
    margin-top: 80px;

    a {
      border-top: 0;
      background-color: transparent !important;

      &:hover {
        path {
          fill: #3fafdf;
        }
      }

      span {
        color: #4b4b4b !important;
      }

      path {
        fill: #3fafdf;
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 28px;
    right: 0;
    left: 0;
    height: 15px;
    color: #999999;
    font-size: 14px;
  }
}

.admin-panel,
.admin-panel-slim {
  display: block;
  min-height: 100vh;
  width: 100%;
  background: #eee;
}

.admin-panel {
  padding: 0;
  margin: 0 0 0 330px;

  &.error {
    margin: 0;

    .content-wrapper {
      width: 100%;
    }
  }
}

.content-wrapper {
  height: 100vh;
  overflow: auto;
  width: calc(100% - 330px);

  &.wrapper-full {
    padding: 0;
  }

  > .title {
    font-size: 28px;
    padding: 24px;
    position: relative;
    color: #014d87;
    font-weight: 400;
  }
}

.right-side-panel {
  position: absolute;
  top: 119px;
  bottom: 0;
  right: 0;
  background-color: $rightSidePanelBgColor;
  width: 385px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 8px 8px rgba(0, 0, 0, $shadowsAlpha);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, $shadowsAlpha);

  .toggle-sidebar {
    left: 0;
  }
}

.tools-panel {
  position: absolute;
  top: 150px;
  bottom: auto;
  left: auto;
  right: 414px;
  width: 68px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transition: top 1s ease-out 0.5s;
  -moz-transition: top 1s ease-out 0.5s;
  -o-transition: top 1s ease-out 0.5s;
  transition: top 1s ease-out 0.5s;

  .panel-button {
    position: relative;
    display: block;
    text-align: center;
    height: 68px;
    padding: 0;
    margin: 0;
    color: #363636;
    cursor: pointer;

    .button-icon {
      display: block;
      margin: 0 auto;
      color: #363636;
      width: 100%;
      height: 100%;
      padding: 22px;

      .action-icon {
        height: 100%;

        &.move {
          background: url(../img/scene/icons/move-gray.svg) center center no-repeat;
        }

        &.scale {
          background: url(../img/scene/icons/scale-gray.svg) center center no-repeat;
        }

        &.rotate {
          background: url(../img/scene/icons/rotate-gray.svg) center center no-repeat;
        }
      }

      &:hover {
        .action-icon {
          &.move {
            background: url(../img/scene/icons/move-white.svg) center center no-repeat;
          }

          &.scale {
            background: url(../img/scene/icons/scale-white.svg) center center no-repeat;
          }

          &.rotate {
            background: url(../img/scene/icons/rotate-white.svg) center center no-repeat;
          }
        }
      }

      &.action-add {
        background: url(../img/scene/icons/plus-gray.svg) center center no-repeat;
      }

      &.action-add:hover {
        background: url(../img/scene/icons/plus-white.svg) center center no-repeat, linear-gradient(180deg, #0cb7ff, #0097d6);
      }

      svg .image-white,
      &:hover svg .image-default {
        display: none;
      }

      &:hover svg .image-white,
      svg .image-default {
        display: block;
      }

      i {
        font-size: 22px;
      }

      &:hover {
        color: #fff;
        background: -webkit-linear-gradient(-90deg, #0cb7ff, #0097d6);
        background: linear-gradient(180deg, #0cb7ff, #0097d6);
      }
    }

    &.active {
      .button-icon {
        .action-icon {
          &.move {
            background: url(../img/scene/icons/move-blue.svg) center center no-repeat;
          }

          &.scale {
            background: url(../img/scene/icons/scale-blue.svg) center center no-repeat;
          }

          &.rotate {
            background: url(../img/scene/icons/rotate-blue.svg) center center no-repeat;
          }
        }

        &:hover {
          .action-icon {
            &.move {
              background: url(../img/scene/icons/move-white.svg) center center no-repeat;
            }

            &.scale {
              background: url(../img/scene/icons/scale-white.svg) center center no-repeat;
            }

            &.rotate {
              background: url(../img/scene/icons/rotate-white.svg) center center no-repeat;
            }
          }
        }

        &.action-add {
          background: url(../img/scene/icons/plus-blue.svg) center center no-repeat;
        }
      }
    }

    button {
      background: #fff;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button[aria-describedby^="popover"] {
      background-color: #0097d6;
    }
  }
}

.covers-list,
.objects-list,
.library-list {
  overflow-y: auto;
  background: transparent;
  height: 100%;
  position: inherit;
  top: $coversHead;
  right: 0;
  left: 0;
  bottom: $addCoverHeight + 5px;
  padding-top: 8px;

  .cover,
  .object {
    position: relative;
    color: #8a8a8a;
    overflow: hidden;
    margin-left: 1px;
    cursor: pointer;
    border-bottom: solid 1px #ffffff;
    padding: 0;
    width: 188px;
    height: 234px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    &.active {
      color: $colorActiveBlue;
      background-color: transparent;

      .image {
        img {
          border: 1px solid #0097d6;
          box-shadow: 1px 2px 4px rgba(0, 151, 214, 0.5);
        }
      }
    }

    &.hovered {
      color: mix($colorActiveBlue, #8a8a8a, 40%);
    }

    &.deleted {
      display: none;
    }

    .head {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: $coversHead;
      padding-top: 7px;

      i {
        cursor: pointer;
        padding: 7px;
        color: $colorActiveBlue;

        &.active {
          color: #8a8a8a;
          background-color: $colorBgGray;
        }
      }
    }

    span {
      &.title,
      &.index {
        position: absolute;
        font-size: 19px;
        top: 12px;
        left: 9px;
        width: 235px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .image {
      margin-top: 30px;
      text-align: center;
      height: 124px;
      background-size: contain;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        max-height: 124px;
        max-width: 124px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, $shadowsAlpha);

        &.svg-icon {
          box-shadow: none;
          width: 64px;
        }
      }
    }

    .delete {
      cursor: pointer;
      color: $colorActiveBlue;
      position: absolute;
      top: 10px;
      right: 12px;
      width: 28px;
      height: 28px;
    }

    .crop {
      cursor: pointer;
      color: #ffffff;
      position: absolute;
      bottom: 10px;
      right: 12px;
      width: 28px;
      height: 28px;
      box-sizing: border-box;
    }

    .rating {
      margin-top: 5px;
      height: 27px;
      text-align: center;
      color: $colorActiveBlue;

      i {
        font-size: 18px;
      }
    }
  }
}

.library-list {
  overflow-y: inherit;
  display: block;

  &.multiple-select {
    overflow-y: auto;
    max-height: 592px;
    margin-bottom: 20px;

    .object {
      width: 300px;

      &.selected {
        border: 1px solid #0097d6;

        .action.select .icon-selected {
          display: block;
        }

        .action.select .icon-not-selected {
          display: none;
        }
      }

      .action.select .icon-not-selected {
        display: block;
      }

      .action.select .icon-selected {
        display: none;
      }
    }

    .action:not(.select) {
      display: none;
    }

    .action {
      &.select {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
      }
    }
  }

  .object {
    height: 134px;
    width: auto;
    position: relative;
    border: 1px solid #ddd;
    margin: 8px;

    .info {
      position: absolute;
      top: 40px;
      left: 140px;
      height: 135px;
      width: 169px;

      // think how to separate this .title from .title above
      .lib-title,
      .type,
      .filename {
        display: block;
      }

      .type,
      .filename {
        color: #ababab;
      }

      .filename {
        display: none;
      }
    }

    .image {
      margin-top: 0;
      min-width: 124px;
      width: 124px;
      height: 124px;
      overflow: hidden;
      position: absolute;
      top: 4px;
      left: 6px;
      background: url("img/checker10.png");

      img {
        //height: auto;
        //max-height: 124px;
        //height: 124px;
      }
    }

    .insert {
      cursor: pointer;
      color: #ffffff;
      position: absolute;
      left: 106px;
      width: 28px;
      height: 28px;
      background: $colorMainLight;
      border: 1px solid $colorMainDark;
      box-sizing: border-box;

      &:after {
        @include sprite-centered-after($s-add);
        content: none;
      }
    }

    .action {
      &.delete {
        top: 10px;
        right: 2px;
      }

      &.delete:after {
        content: none;
      }
    }
  }

  .filter-block {
    padding: 0;
  }

  .filter-name-block {
    position: relative;

    input {
      width: 100%;
      margin: 0;
      text-align: left;
      padding-left: 32px;
      background: #f1f1f1;
      border-top: #fff;
      border-left: #f1f1f1;
      border-right: #f1f1f1;
    }

    .reset {
      display: none;
      position: absolute;
      right: 18px;
      top: 5px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .filter-type {
    height: 50px;
    background-color: $colorActiveBlue;
    //margin-bottom: 5px;

    i {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      float: left;
      width: 25%;
      overflow: hidden;
      color: #ffffff;
      text-transform: capitalize;
      opacity: 0.45;
      height: 50px;
      padding: 13px 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;

      &.active {
        opacity: 1;
      }
    }
  }

  .items {
    position: relative;
    top: auto;
    overflow-y: auto;
    bottom: auto;
    width: 100%;
    margin: 0;
  }

  .action {
    &.select {
      display: none;
    }
  }
}

.short-list {
  .cover,
  .object {
    height: 60px;
    width: auto;
    border: 1px solid #ddd;

    .head {
      width: 20px;
      height: auto;
    }

    span {
      &.title,
      &.index {
        top: 20px;
        width: 40px;
      }

      .index {
        display: block;
      }
    }

    .image {
      height: 40px;
      max-width: 40px;
      margin-top: auto;
      position: absolute;
      top: 10px;
      left: 42px;

      img {
        height: 40px;
        max-width: 40px;

        &.svg-icon {
          box-shadow: none;
          width: 35px;
        }
      }
    }

    .delete,
    .crop {
      top: 14px;
    }

    .crop {
      right: 6px + 28px + 4px;
    }

    .rating {
      position: absolute;
      left: 100px;
      top: 18px;
      margin-top: auto;
    }
  }
}

.objects-list {
  .object {
    &.hidden {
      display: none;
    }
  }

  .objects-list {
    display: block;
  }

  &.short-list {
    .image {
      width: 26px;
    }

    span {
      &.title {
        display: block;
        left: 100px;
        width: 165px;
      }
    }
  }
}
//only in css
.covers-bar {
  position: relative;
  height: 88vh;
  width: 100%;

  .add-cover,
  .add-object {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: $addCoverHeight;
    color: #ffffff;
    background: $addButtonColor;
    text-align: center;
    padding-top: 23px;
    padding-right: 52px;
    box-sizing: border-box;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -20px;
      background: url(sprites.png) 0px -132px;
      width: 43px;
      height: 40px;
      right: 24px;
    }

    i {
      margin-top: -0.5em;
      margin: -0.5em auto 0;
      position: relative;
      width: 1em;
      display: block;
    }
  }

  &.objects-list,
  &.library-list {
    .covers-list {
      display: none;
    }

    .add-cover {
      display: none;
    }

    .add-object {
      display: block;
    }
  }
}

.add-object {
  display: none;
}

//this selector is commented  in editions/view.volt
.edit-panel {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 376px;
  background-color: #ffffff;
  min-height: 215px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, $shadowsAlpha);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, $shadowsAlpha);

  .head {
    height: 45px;
    background-color: $editPanelBgColor;

    > div {
      color: #ffffff;
      background-color: $editPanelBgColor;
      float: left;
      width: 50%;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      padding-left: 20px;
      box-sizing: border-box;

      &.active {
        color: $colorMainDark;
        background-color: #ffffff;
      }

      &.hidden {
        display: none;
      }
    }
  }

  .panel-content {
    > div {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.transform-panel {
  $columnWidth: 90px;
  color: #000000;
  padding: 0;

  .axis-labels {
    padding-left: 70px;

    span {
      display: inline-block;
      width: $columnWidth;
      text-align: center;
    }
  }

  .row-label {
    color: inherit;
    width: 65px;
    display: inline-block;
  }

  .controls {
    padding-top: 5px;
    padding-bottom: 5px;

    .control,
    .control-full {
      width: $columnWidth;
      display: inline-block;
      text-align: right;
    }

    input {
      width: 75%;
    }

    .control-full {
      width: $columnWidth*3;
      padding-right: 0;
      padding-left: 22.5px;
      box-sizing: border-box;

      input {
        width: 100%;
      }
    }
  }
}

.blocker {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $colorMainDark;
  opacity: 0.6;
  z-index: $blockerZIndex;
}

$loaderWidth: 428px;
$loaderHeight: 74px;
.loading-control {
  display: none;
  z-index: $loaderZIndex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $loaderWidth;
  height: $loaderHeight;
  margin-left: -$loaderWidth/2;
  margin-top: -$loaderHeight/2;
  background-color: #ffffff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, $shadowsAlpha);

  &.infinite-loading {
    .progress-text-info,
    .progress-control {
      display: none;
    }

    .progress-infinite {
      display: block;
    }
  }

  .progress-infinite {
    display: none;
    height: 100%;
    line-height: $loaderHeight;
    margin-left: 30px;
  }

  &.text-info-on {
    $loaderHeightWithText: $loaderHeight + 40;
    height: $loaderHeightWithText;
    margin-top: -$loaderHeightWithText/2;

    .progress-text-info {
      display: block;
    }
  }

  .progress-text-info {
    display: none;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .progress-control {
    height: 57px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .load-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: $loaderHeight;
    height: 100%;
    background: $colorActiveBlue;

    &:after {
      @include sprite-centered-after($s-download);
    }
  }

  .load-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $loaderHeight;
    right: 0;
  }

  .cancel {
    position: absolute;
    top: 8px;
    right: 14px;
    width: 28px;
    height: 28px;
    //background: url("ui/close.png") no-repeat center center;
    opacity: 0.46;
    cursor: pointer;

    &:after {
      @include sprite-centered-after($s-close);
    }
  }
}

.progress-control {
  position: relative;
  height: 38px;
  //width: 354px;

  .progress-bar {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 55px;
    height: 5px;
    background-color: $colorMainLight;
    width: auto;
    color: inherit;

    .progress-fill {
      position: relative;
      width: 50%;
      height: 100%;
      background-color: $colorActiveBlue;
    }

    .progress-text {
      position: absolute;
      right: -1px;
      bottom: 5px;
      white-space: nowrap;

      .text {
        margin-right: -21px;
      }

      .line {
        height: 11px;
        border-right: 1px solid $colorMainLight;
      }
    }
  }

  .progress-total {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.pdf-pages-dialog {
  $width: 780px;
  $height: 475px;
  $buttonsHeight: 35px;
  $headerHeight: 74px;
  $padding: 10px;

  display: none;
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: $blockerZIndex+1;
  margin-top: -$height/2;
  margin-left: -$width/2;
  background-color: #ffffff;
  color: inherit;
  box-sizing: border-box;
  padding: $padding;
  box-shadow: rgba(0, 0, 0, $shadowsAlpha) 0 0 15px 0px;

  .progress-control {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 48px
  }

  > div {
    position: relative;
    height: 100%;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url("ui/close-b-g.png") no-repeat center center;
    opacity: 1;
    cursor: pointer;
    z-index: $blockerZIndex+2;
  }

  .head {
    height: $headerHeight;

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: $headerHeight;
      height: $headerHeight;
      background: $colorActiveBlue url("ui/pdf-upload.png") no-repeat center center;
    }

    .content {
      position: relative;
      margin-left: $headerHeight + $padding;
      height: $headerHeight;

      .filename {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .selection {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .center {
    background-color: $colorPanelGray;
    color: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: $headerHeight+$padding;
    bottom: $buttonsHeight+$padding;
    overflow-y: auto;

    .page {
      position: relative;
      min-width: 152px;
      min-height: 166px;
      background-color: #ffffff;
      float: left;
      box-shadow: 0 0 7px rgba(0, 0, 0, $shadowsAlpha);
      text-align: center;
      margin: 5px;
      cursor: pointer;

      .check {
        display: none;
        position: absolute;
        bottom: 5px;
        right: 5px;
        height: 25px;
        width: 25px;
        background: url("ui/check.png") center center no-repeat;
      }

      &.checked {
        .check {
          display: block;
        }
      }

      &.processed {
        cursor: auto;
        opacity: 0.5;
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $buttonsHeight;

    button {
      cursor: pointer;
      background-color: $colorDarkBlue;
      color: #ffffff;
      width: 170px;
      height: $buttonsHeight;
      border: none;

      &.insert {
        position: absolute;
        right: 0;
        background-color: $colorActiveBlue;
        border: none;
      }
    }
  }
}

.message-fatal-error,
.message-error {
  $buttonHeight: 35px;
  $width: 330px;
  position: absolute;
  width: $width;
  top: 100px;
  left: 50%;
  margin-left: -$width/2;
  min-height: 40px;
  z-index: $loaderZIndex;
  background-color: $colorMainDark;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, $shadowsAlpha);
  font-size: 1.5em;
  color: #f5f5f5;
  padding: 15px;
  text-align: center;

  a {
    color: #12c200;
  }

  button {
    margin-top: 15px;
    cursor: pointer;
    color: inherit;
    width: 170px;
    height: $buttonHeight;
    background-color: #12c200;
    border: none;
  }
}

.image-crop-dialog,
.thumbnail-crop-dialog {
  $minWidth: 780px;
  $minHeight: 475px;
  $padding: 10px;
  $buttonHeight: 35px;
  $buttonsHeight: $buttonHeight + $padding*2;
  $headerHeight: 35px;
  $centerMinHeight: $minHeight - $headerHeight - $buttonsHeight;

  display: none;
  min-width: $minWidth;
  min-height: $minHeight;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  z-index: $blockerZIndex+1;
  background-color: #ffffff;
  color: inherit;
  box-sizing: border-box;
  padding: $padding;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, $shadowsAlpha);

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url("ui/close-b-g.png") no-repeat center center;
    opacity: 1;
    cursor: pointer;
    z-index: $blockerZIndex+2;
  }

  .head {
    height: $headerHeight;
  }

  .center {
    position: absolute;
    top: $headerHeight;
    bottom: $buttonsHeight;
    left: 0;
    right: 0;
    min-height: $centerMinHeight;
    text-align: center;

    .crop-container {
      margin: 0 auto;
      height: 100%;
      width: 100%;
    }

    img {
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $buttonHeight;
    padding: $padding;
    box-sizing: content-box;

    button {
      cursor: pointer;
      background-color: $colorGrayButton;
      color: #ffffff;
      width: 170px;
      height: $buttonHeight;
      border: none;

      &.submit {
        position: absolute;
        right: $padding;
        background-color: $colorActiveBlue;
        border: none;
      }
    }
  }

  .precise {
    $width: 360px;
    position: absolute;
    width: $width;
    left: 50%;
    margin-left: -$width/2;
    bottom: 20px;

    label {
      position: relative;
      width: 25%;
      float: left;
      margin: 0;
      padding: 0;
    }

    input {
      position: absolute;
      left: 1em;
      width: 65px;
      top: -2px;
    }
  }
}

.gu-mirror {
  &.object {
    color: #ffffff;
    height: 132px;
    overflow: hidden;
    padding: 0 7px;
    margin-left: 1px;
    cursor: pointer;
    border: solid 1px $colorMainDark;
    background-color: $colorMainLight;

    .crop,
    .insert,
    .delete,
    .select {
      display: none;
    }

    .info {
      position: absolute;
      top: 40px;
      left: 106px;
      height: 88px;
      width: 169px;

      // think how to separate this .title from .title above
      .lib-title,
      .type,
      .filename {
        display: block;
      }

      .type,
      .filename {
        color: #ababab;
      }
    }

    .image {
      margin-top: 0;
      max-width: 94px;
      max-height: 124px;
      overflow: hidden;
      position: absolute;
      top: 4px;
      left: 6px;

      img {
        height: 124px;
        max-width: 94px;
      }
    }
  }
}

//only in scss
.spinner {
  $spinnerSize: 120px;
  display: none;

  &.loading {
    display: block;
    border: $spinnerSize/8 solid #f3f3f3; /* Light grey */
    border-top: $spinnerSize/8 solid #3498db; /* Blue */
    border-bottom: $spinnerSize/8 solid #3498db; /* Blue */
    border-radius: 50%;
    width: $spinnerSize;
    height: $spinnerSize;
    animation: spin 2s linear infinite;

    &.inline {
      display: inline-block;
    }
  }

  &.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$spinnerSize/2;
    margin-left: -$spinnerSize/2;
  }

  &.r16 {
    $spinnerSize: 16px;
    width: $spinnerSize;
    height: $spinnerSize;
    border-width: min(2px, $spinnerSize/8);

    &.centered {
      margin-top: -$spinnerSize/2;
      margin-left: -$spinnerSize/2;
    }
  }

  &.r24 {
    $spinnerSize: 24px;
    width: $spinnerSize;
    height: $spinnerSize;
    border-width: min(2px, $spinnerSize/8);

    &.centered {
      margin-top: -$spinnerSize/2;
      margin-left: -$spinnerSize/2;
    }
  }

  &.r60 {
    $spinnerSize: 60px;
    width: $spinnerSize;
    height: $spinnerSize;
    border-width: min(2px, $spinnerSize/8);

    &.centered {
      margin-top: -$spinnerSize/2;
      margin-left: -$spinnerSize/2;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.view-mode-wrapper,
.view-lock-wrapper {
  position: absolute;
  padding: 0 10px;
  cursor: pointer;
}

.view-mode-wrapper {
  top: 23px;
  left: 80px;
  .view-mode {
    background: #999999;
    color: #fff;
    border-radius: 50%;
    width: 46px;
    height: 46px;

    &.active {
      background: -webkit-linear-gradient(-90deg, #0cb7ff, #0097d6);
      background: linear-gradient(180deg, #0cb7ff, #0097d6);
    }

    span {
      font-size: 16px;
      margin: 4px;
      padding: 0 9px;
    }
  }
}

.view-lock-wrapper {
  top: 198px;
  left: 80px;

  .view-lock {
    cursor: pointer;
    background-color: #999999;
    color: #fff;
    border-radius: 50%;
    width: 46px;
    height: 46px;

    svg {
      width: 18px;
      height: 24px;
      margin: 12px 16px;
      stroke: #fff;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      .l-closed {
        display: none;
      }
    }

    &.locked {
      @include linear-gradient(#0cb7ff, #0097d6);

      svg {
        stroke: white;
      }
      svg .l-opened {
          display: none;
      }

      svg .l-closed {
          display: block;
      }
    }
  }
}

.bundle-url {
  padding-top: 15px;
  display: none;

  &.visible {
    display: inline-block;
  }

  .bundle-url-text {
    margin-left: 10px;
  }
}
//used in bootstrap?
#breadcrumbs {
  background: $colorActiveBlue;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, $shadowsAlpha);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, $shadowsAlpha);
  font-size: 20px;
  font-weight: 300;

  span {
    display: inline-block;
    vertical-align: middle;
    height: 39px;
    line-height: 39px;
    padding: 0 15px;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  span {
    &.edition {
      background: #ffffff;
      color: $colorActiveBlue;
    }
  }
}

.traffic-block{
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  &.ui_block {
    &.license,
    &.apps,
    &.app-data {
      width: calc(100% - 60px);
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

.ui_block {
  &.app-data {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }
}

.btn.action.save {
  //margin-right: 30px;
  color: #fff;
}

.ui_block {
  width: 100%;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  box-shadow: -3px 3px 7px rgba(17, 16, 13, 0.13);
  -webkit-box-shadow: -3px 3px 7px rgba(17, 16, 13, 0.13);
  padding: 20px 25px;
  position: relative;
  font-family: a;
  margin-bottom: 25px;

  &.teams {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }

  &.user-data {
    padding-bottom: 40px;
  }

  h5,
  .h5 {
    font-size: 20px;
    color: #005286;
    font-family: a;
    margin: 0 0 30px;
  }

  .row_col:last-child {
    margin-bottom: 0;
  }
}

.ui_block,
.password-modal,
.modal {
  input {
    width: 100%;
    height: 32px;
    border: 1;
    //background: #f6f6f6;
    font-size: 20px;
    padding: 0 15px;
    color: #8d8d8d;
  }

  .row_col {
    display: table;
    width: 100%;
    margin-bottom: 20px;
  }
}

.modal-apps {
  table tr td {
    background: #f6f6f6;
    border-bottom: 3px solid #fff;
    vertical-align: middle;
    padding: 15px;
    font-size: 20px;
    color: #444;
  }

  .content {
    margin: 20px;
  }
}

.btn.primary.action.cancel {
  color: #fff;
}

.profile-block,
.password-modal {
  label {
    color: #8d8d8d;
    font-size: 20px;
    line-height: 32px;
    min-width: 115px;
  }

  .input-col {
    width: 300px;
    display: inline-block;
  }
}

.profile-block {
  margin: 0 30px;

  .row_col {
    > div:first-child {
      padding-left: 0;
    }
  }

  .change-password {
    margin-left: 115px;
  }
}

password_modal {
  .bottom-buttons {
    margin-top: 15px;
  }
}

.bottom-buttons {
  text-align: right;

  .btn-save {
    //height: 38px;
    //border: 0;
    color: #fff;
    background: #0095d5;
    //margin: 0 20px 20px 0;
    padding: 0 15px;
    position: relative;
    min-width: 230px;

    img {
      position: absolute;
      top: 5px;
      left: 18px;
    }
  }
}
//#category_modal - only in scss
.category_modal,
.password-modal {
  .modal-dialog {
    max-width: 825px;
    width: 100%;
  }

  .modal-content {
    border-radius: 0;
    -webkit-border-radius: 0;
  }

  &.modal {
    .close {
      opacity: 1;
      top: 15px;
      right: 15px;
      position: absolute;
    }
  }
}

.password-modal {
  form {
    padding: 20px 20px 0px;
    font-family: a, sans-serif;
  }

  .modal-dialog {
    max-width: 602px;
  }

  label {
    width: 11em;
  }

  .title {
    font-size: 20px;
    color: #005286;
    margin-bottom: 30px;
  }

  .buttons {
    //display: table;
    //width: 100%;
    //margin-bottom: 0;
    //text-align: right;
    //padding-top: 25px;
  }

  .btn {
    max-width: 200px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #aeaeae;
    border-radius: 0;
    margin: 0 0 10px 10px;
    display: inline-block;
  }

  .btn {
    &.save {
      background: #0095d5;
    }
  }
}

/* region Main */

/* region Content */

.content {
  margin: 0 40px 25px 0;
}

/* endregion Content */

/* region Typography */

.text-highlighted {
  color: #0095d5;
}

/* endregion Typography */

/* region Buttons */

.btn {
  &.primary {
    background-color: #0095d5;
  }

  &.delete {
    background-color: #d50000;
  }
}

/* endregion Buttons */

/* region Form */

form {
  &.search {
    .search-filed-wrapper {
      position: relative;
    }

    img.search-image-addon {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }

  label {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

/*endregion Form */

/* region Pagination */

.pagination {
  font-size: 0;
  position: relative;
  right: 0;
  top: 0;
  margin: 0;

  li {
    display: inline-block;
    margin-left: 5px;

    > a {
      background: #eee;
      border: none;
      color: #0095d5;
      display: inline-block;
      line-height: 39px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      padding: 0;
      height: 39px;
      min-width: 39px;
    }
  }

  > li:first-child {
    > a,
      span{
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
  }

  > li:last-child {
    > a,
      span {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
  }

  a {
    &.active {
      background: #0095d5;
      color: #fff;
    }
  }

  > li {
    > a {
      &.active:hover {
        color: #fff;
        background-color: #0095d5;
      }
    }
  }

  > li {
    > a:hover,
      span:focus,
      span:hover {
        z-index: 2;
        color: #fff;
        background-color: #0095d5;
        border-color: #ddd;
      }
  }
}

/* endregion Pagination */

/* region Progress */

.progress {
  height: 31px;
  background-color: rgb(238, 238, 238);
  box-shadow: inset 0px 2px 2px 0px rgba(17, 16, 13, 0.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;

  span {
    font-size: 20px;
    color: #fff;
    text-align: center;
    height: 100%;
    line-height: 31px;
    width: 60%;
    display: block;
    background-image: -moz-linear-gradient(90deg, rgb(0, 149, 213) 0%, rgb(0, 178, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 149, 213) 0%, rgb(0, 178, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 149, 213) 0%, rgb(0, 178, 255) 100%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
  }
}

/* endregion Progress */

/* region Modal */

/* endregion Modal */

/* endregion Main */

/* region Modal center */

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

/* endregion Modal center */

// TODO: merge it
//@import "style_new";

.nice-select {
  width: 100%;
  border: 0;
  height: 32px;
  background: #f6f6f6;
  border-radius: 0;
  -webkit-border-radius: 0;
  line-height: 32px;

  &:after {
    border: 0;
    content: '';
    display: block;
    height: auto;
    margin-top: 0px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 0;
    bottom: 0;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(0) !important;
    -ms-transform: rotate(0) !important;
    transform: rotate(0) !important;
    background: #328aca url(../img/arrow.png) center no-repeat;
    width: 30px;
  }

  span {
    font-size: 20px;
    color: #8d8d8d;
    overflow: hidden;
    width: 250px;
    float: left;
  }

  .list {
    right: 0;
  }
}

.edition-title {
  color: #8a8a8a;
  margin-left: 40px;
}
//only in scss
.scene-view {
  span {
    &.edition {
      background: #ffffff;
      color: #0096d5;
    }
  }
}

.navbar-top {
  background-color: #fff;
  box-shadow: 0 0 4px;
  padding: 13px 0;
  z-index: 1060;

  .actions {
    a {
      height: 40px;
      text-align: center;
    }

    button {
      height: 40px;
      text-align: center;
      min-width: 160px;
      padding: 0 10px;
      position: relative;
    }

    .scene-action-pdf-export {
      &:hover {
        background-color: #fff;
        color: #0086be;
      }
    }
    .scene-action-bundle-generate {
      background: linear-gradient(180deg, #6cb100, #349e00);
      transition: all .3s;

      &:hover {
        color: #eee;
        transition: all .3s;
      }
    }

    .scene-action-save,
    .scene-action-bundle-generate,
    .scene-action-pdf-export{
      img {
        margin-right: 10px;
        margin-bottom: 2px;
      }
    }

    .nav-item {
      margin: 0 20px;
    }
  }
}

.navbar-top-info {
  position: relative;
  box-shadow: 0 0 7px;
  top: 67px;
  background-color: #eeeeee;
  z-index: 1050;

  .navbar {
    padding: 6px;
  }

  .navbar-toggler {
    padding: 0;
    outline: none;
    display: flex;
    width: 50%;

    img {
      margin: 15px 4px;
    }
  }

  .navbar-toggler[aria-expanded="true"] {
    img {
      transform: rotate(180deg);
    }
  }
}

.navbar {
  &.covers-list-toggle {
    display: flex;
  }
}

//.modal {
//  .close {
//    position: absolute;
//    right: 10px;
//    top: 16px;
//    width: 30px;
//  }
//}

.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  padding: 6px 20px;
  font-size: 18px;
  min-width: 130px;
  height: 45px;

  &:hover {
    color: #fff;
    opacity: 0.5;
  }

  &.btn-primary {
    color: #fff;
    background: -webkit-linear-gradient(-90deg, #0cb7ff, #0097d6);
    background: linear-gradient(180deg, #0cb7ff, #0097d6);

    &:hover {
      color: #eee;
    }
  }
  &.btn-success {
    &:hover {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34;
    }
  }

  &.btn-default {
    border-color: #0097d6;
    background-color: #fff;
    color: #0097d6;

    &:hover {
      background-color: #0097d6;
      color: #fff;
    }
  }

  &[disabled]:hover {
    background-color: #fff;
    color: #0097d6;
    cursor: default;
  }
}

.import-bundle {
  margin-left: 5px;
}

button,
a {
  cursor: pointer;
}

.settings-bar-wrapper {
  height: 100%;

  .nav-tabs {
    background-color: #f6f6f6;

    .nav-link {
      display: flex;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      font-size: 18px;
      padding: 15px 10px;
      color: #999999;
      background-color: #f6f6f6;
      border-bottom: 1px solid #dee2e6;
      span {
        padding: 3px 0;
        margin-left: 10px;
      }

      &.active {
        background-color: #fff;
        border-bottom: 1px solid transparent;;

      }
    }

    .nav-item {
      &:first-child .nav-link {
        border-left: none;
      }

      .nav-link img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.settings-bar-toggle-wrapper {
  position: absolute;
  right: -6px;
  top: 126px;
  width: 50px;
  z-index: 1;

  .settings-bar-toggle {
    min-width: 44px;
    height: 40px;
    padding: 3px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #007bff;
    border: 1px solid #007bff;
    transform: rotate(180deg);
    color: #fff;
    background: -webkit-linear-gradient(0deg, #0097d6, #0cb7ff);
    background: linear-gradient(0deg, #0cb7ff, #0097d6);
  }

  svg {
    opacity: 0.5;
  }

  .nav-tabs {
    .nav-link:not(.active) {
      border-bottom: 1px solid #ddd;
    }
  }

  .nav-link {
    i {
      margin-right: 10px;
    }
  }
}

.settings-tab {
  margin-top: 6px;
  overflow-y: auto;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;

  .url-validity-state {
    .sign-valid,
    .sign-invalid {
      width: 35px;
      height: 35px;
    }

    .sign-valid {
      display: none;
    }

    .sign-invalid {
      display: block;
    }

    &.valid {
      .sign-valid {
        display: block;
      }

      .sign-invalid {
        display: none;
      }
    }
  }

  .settings-bar-no-object-selected,
  .library-list-no-object-selected {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    .message {
      margin: 40px 100px;

      span {
        font-size: 20px;
        color: #b3b3b3;
        font-weight: 400;
      }
    }
  }

  .library-list-no-object-selected {
    display: none;
  }

  .content-accordion {
    .card {
      border: 0;

      .card-header {
        padding: 8px 20px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: -webkit-linear-gradient(-90deg, #0cb7ff, #0097d6);
        background: linear-gradient(180deg, #0cb7ff, #0097d6);
      }

      .card-header a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
      }

      .card-header a img {
        float: right;
        margin: 5px 0;
        width: 18px;
        height: 9px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        transform: rotate(180deg);
      }

      .card-header a[aria-expanded="true"] img {
        transform: rotate(0deg);
      }
    }
  }

  .row {
    padding: 10px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    &.settings-video {
      padding: 7px;
    }
  }

  .col {
    padding: 0;
  }

  label {
    color: #999999;
    font-size: 18px;
  }

  input {
    margin: 0 4px;
    line-height: 2em;
    font-size: 18px;
    width: 65px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    &:focus {
      border-color: #0097d6;
    }
  }

  input[name="settings-scale"] {
    margin-left: 6px;
  }

  select {
    margin: 0 4px;
    padding: 6px;
    font-size: 18px;
  }

  .card-body {
    padding: 6px;
  }

  .url-validity-state {
    display: inline-flex;
    margin-top: 6px;
  }

  .settings-action {
    .input-wrapper {
      width: 100%;
    }

    input {
      width: 90%;
    }

    select {
      width: 80%;
    }
  }

  .input-wrapper {
    padding: 4px 0;
  }

  .settings-layout {
    .settings-position-wrapper,
    .settings-rotate-wrapper,
    .settings-position,
    .settings-rotate,
    .settings-scale {
      display: flex;
    }

    .settings-scale {
      i {
        font-size: 18px;
        margin-left: 4px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .settings-input-image {
    position: relative;
    width: 45px;
    height: 45px;

    &:hover,
    &.action-drag {
      cursor: ns-resize;
    }

    img,
    span {
      user-select: none;
      -webkit-user-select: none;
      -webkit-user-drag: none;
    }

    &.scale-all {
      img {
        width: 17px;
        height: 17px;
        margin: 13px 5px;
      }
    }

    img {
      position: absolute;
    }

    &.move {
      img {
        top: 4px;
        left: 2px;
      }

      span {
        top: 4px;
        right: 7px;
      }
    }

    &.rotate-x {
      img {
        top: 7px;
        left: 12px;
      }

      span {
        right: 12px;
        top: 13px;
      }
    }

    span {
      position: absolute;
      font-size: 20px;
      color: #999999;
    }

    &.rotate-y {
      img {
        top: 22px;
        left: 8px;
      }

      span {
        right: 16px;
        top: 12px;
      }
    }

    &.rotate-z {
      img {
        top: 12px;
        left: 4px;
      }

      span {
        right: 18px;
        top: 12px;
      }
    }
  }

  .settings-action-wrapper {
    display: flex;

    .object-action-icon {
      display: none;
      width: 34px;
      height: 34px;
      cursor: pointer;
    }
  }
}

input#settings-main-title-input {
  text-align: left;
  width: 80%;
}

.inline {
  display: flex;
}

.viewport {
  top: 121px;
  bottom: 45px;
  width: calc(100% - 385px);
  height: auto;
  overflow: initial;
  position: absolute;

  .view-cube-wrapper {
    background: url(/img/scene/icons/scene-dimensions-background-transparent.png) center center no-repeat;
    border-radius: 50%;
    padding: 33px;
    position: absolute;
    left: 20px;
    top: 40px;
    width: 186px;
    height: 186px;

    .viewcube {
      background-color: transparent;
      overflow: hidden;
      z-index: 500;
      width: 114px;
      height: 114px;
    }
  }

  .object {
    display: none;
  }
  /*
  &.is-dragging .info, &.is-dragover .info {
    border: 1px solid #0097d6;
    background: rgba(0, 151, 214, 0.5);
  }

  &.is-dragging .info {
    color: #ffffff;
  }
  &.is-dragover .info {
    color: #ffff00;
  }
  */

  .info {
    display: none;
  }

  &.advanced-upload {
    .info {
      display: block;
      position: absolute;
      bottom: 20px;
      right: 32px;
      text-align: right;
      width: 100%;
    }
  }
}

.scene-view {
  background: #fff;
  color: #999999;
  position: absolute;
  top: 0;
  left: 0 !important;
  width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 300;

  img {
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    height: 39px;
    line-height: 39px;
    padding: 0 0 0 10px;
  }

  a {
    text-decoration: none;
  }

  .action {
    outline: none;
    padding: 0;
    //color: rgb(153, 153, 153);
    &.back-to-editions-list {
      opacity: 0.6;
      margin: -5px 35px -5px 5px;

      img {
        margin: -5px 1px;
      }
    }

    i {
      padding: 10px;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #f5f5f5;
    font-size: 22px;

    span {
      padding: 0;
    }

    .scene-scale-wrapper {
      display: flex;
      float: right;
      margin-right: 378px;

      .icon-wrapper {
        padding: 0;
      }

      .scale-control-input {
        margin: 5px;
        padding: 0;
        line-height: 36px;
      }

      .icon-wrapper.scale-control {
        margin-bottom: 16px;
        cursor: pointer;
      }

      .icon-wrapper.scale-control {
        img {
          margin: 10px;
        }
      }
      .zoom-in,
      .zoom-out {
        cursor: pointer;
      }
    }

    input[name="scene-scale"] {
      width: 80px;
      max-height: 35px;
      text-align: center;
      border: 1px solid #ccc;
      color: #8a8a8a;
    }

    .title {
      float: left;
      margin-left: 20px;
    }
  }
}

.bold {
  font-weight: bold;
}

.covers-select {
  position: relative;
  z-index: 1060;

  .covers-list-count {
    margin-top: 16px;

    .count-title {
      font-weight: 600;
    }
  }

  .covers-list-wrapper {
    padding: 2px;
    width: 100vw;
    height: 252px;
    border: none;
    position: relative;
    background: -webkit-linear-gradient(-90deg, #eee, #ffffff);
    background: linear-gradient(180deg, #eee, #ffffff);
    -webkit-box-shadow: 0 2px 2px 2px #dddddd;
    -moz-box-shadow: 0 2px 2px 2px #dddddd;
    box-shadow: 0 2px 2px 2px #dddddd;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.is-dragging .drag-and-drop {
      display: block;
      border: 1px solid #0097d6;

      .drag-and-drop-add {
        position: absolute;
        background-color: #fff;
        border: 1px solid #7ecae9;
        border-radius: 50%;
        padding: 9px;
        top: 10px;
        left: 50%;
        //right: 50%;
      }
    }

    &.is-dragover .drag-and-drop {
      display: block;
      border: 1px solid #0097d6;
      background: rgba(0, 151, 214, 0.5);

      .drag-and-drop-add {
        position: absolute;
        background-color: #fff;
        border: 1px solid #7ecae9;
        border-radius: 50%;
        padding: 9px;
        top: 10px;
        left: 50%;
        right: 50%;
      }
    }
  }
}

.drag-and-drop {
  position: relative;
  height: 80px;
  display: none;
}

.covers-list-wrapper {
  &.is-dragging {
    height: 316px;

    .cover {
      border: 1px solid #0096d5;

      .is-dragover {
        opacity: 0.7;
        border: 2px solid #0196d6;
      }

      .action,
      .rating {
        display: none;
      }
    }
  }
}

.covers-list {
  display: flex;
  padding-top: 0;
  top: 0;

  .cover {
    transition: all .3s;
    position: relative;
    min-width: 190px;
    height: 234px;
    border: none;
    padding: 0;
    margin: 2px;

    .head {
      .title {
        display: none;
      }
    }
    .image {
      margin: 22px auto;
      width: 100px;
      height: 135px;
      overflow: hidden;
      -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);

      img {
        width: 100%;
        height: auto;
      }

      .placeholder {
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }
    .rating {
      margin-top: -17px;
      height: 27px;
      text-align: center;
      color: #0096d5;

      img {
        margin: 0 6px;
      }
    }
    .load-progress {
      max-width: 102px;
      width: 100%;
      height: 10px;
      margin: 0 43px;
      background-color: #eee;
    }

    .action {
      cursor: pointer;
    }

    .delete {
      position: absolute;
      padding: 8px;
      border-radius: 50%;
      background-color: #ff0000;
      top: 4px;
      right: 34px;
      width: 34px;
      height: 34px;
      z-index: 11;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

      &:after {
        display: none;
      }

      i {
        margin: 3px 1px;
      }
    }

    span {
      &.index {
        left: 0px;
        top: 6px;
      }
    }

    $buttonsStart: 33px;
    $buttonsSize: 34px;
    $buttonsSpacing: 11px;
    .crop, .replace, .set-main {
      width: $buttonsSize;
      height: $buttonsSize;
      position: absolute;
      bottom: 12px;
    }

    .crop {
      background: #0097d6 url('../img/scene/icons/scene-page-image-crop.svg') center right no-repeat;
      left: $buttonsStart;
      background-size: 28px 28px;
      border: solid 1px #0097d6;
      border-radius: 16.5px;
    }

    .replace {
      background: #082657 url('../img/scene/icons/scene-page-image-replace.svg') center center no-repeat;
      left: $buttonsStart + ($buttonsSize + $buttonsSpacing);
      background-size: 14px 21px;
      border: solid 1px #082657;
      border-radius: 16.5px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);

    }

    .set-main {
      transition: all .3s;
      background: #ffffff;
      background-size: 18px 13px;
      border: solid 1px #67b000;
      border-radius: 16.5px;
      left: $buttonsStart + ($buttonsSize + $buttonsSpacing)*2;

      svg {
        stroke: #67b000;
        width: 18px;
        height: 13px;
        position: absolute;
        top: 9px;
        left: 7px;
      }
    }

    &.mainCover {
      background: #e2ead5;

      .set-main {
        background: linear-gradient(180deg, #6cb100, #349e00);

        svg {
          stroke: white;
        }
      }
    }
  }
}

.covers-list-pagination {
  input {
    width: 80px;
    max-height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    color: #8a8a8a;
    padding: 4px;
    margin: 30px 30px;
  }
}

.animations-panel {
  display: none;
  color: #000000;
  padding: 0;

  select {
    height: 135px;
    width: 100%;
    display: block;
  }
}

.video-panel,
.audio-panel {
  display: none;
  //color: #000000;
  //padding: 10px;

  i {
    cursor: pointer;
  }

  video, audio {
    max-width: 100%;
  }
}

.popover {
  .arrow::before {
    border-width: 22px;
    top: -11px;
  }

  .arrow::after {
    border-width: 22px;
    top: -11px;
  }

  &.bs-popover-left {
    margin-right: 22px;
    min-width: 504px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

    .arrow {
      right: -45px;
    }
  }

  .popover-body {
    display: flex;

    label {
      font-size: 18px;
      color: #999;
    }
  }

  .block-content {
    text-align: center;
    margin: 4px 20px;
  }

  .btn {
    border-radius: 50%;
    border: none;
    min-width: 80px;
    width: 80px;
    height: 80px;
    padding: 0;
    background: #0097d6;
  }
}

.modal {
  text-align: center;

  &.object-library {
    .modal-dialog {
      min-width: 1000px;
    }

    .modal-body .title {
      margin-bottom: 10px;
      color: #8a8a8a;
    }
  }

  .modal-body {
    padding: 30px 20px 20px 20px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  .modal-dialog {
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal-header {
    background-color: #0097d6;
    color: #fff;
    font-size: 18px;

    .modal-title {
      margin: 5px;
    }

    .close {
      color: #000;
      opacity: 0.7;
      position: absolute;
      top: 33px;
      right: 30px;
      width: 30px;
      padding: 0;
    }

    .close:hover {
      opacity: 1;
    }
  }
  .modal-actions {
    text-align: right;
  }

  .modal-content {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;

    .modal-title {
      margin: 0 34px 0 0;

      .title {
        font-size: 20px;
        color: #005286;
        margin: 15px;
      }
    }

    p {
      margin: 1em 0;
      font-size: 18px;
      overflow: hidden;
    }
  }

  .modal-actions {
    //margin: 30px;

    .action {
      width: 200px;
    }
  }

  &.add-youtube-link {
    .modal-content {
      border: none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 0;
      min-width: 400px;
      min-height: 320px;

    }

    .modal-header {
      background-color: #0097d6;
      padding: 12px;

      .close {
        font-size: 18px;
        color: #ffffff;
      }
    }

    .modal-title {
      font-size: 18px;
      color: #ffffff;
    }

    .col {
      padding: 14px;
      font-size: 20px;
    }

    label {
      min-width: 64px;
      padding: 0 14px;
    }

    button {
      &.youtube-link-preview {
        float: right;
      }
    }
  }

  &.add-resource {
    .modal-body {
      display: inline-flex;
    }

    button {
      width: 80px;
      height: 80px;
      border: 1px solid #0097d6;
      border-radius: 50%;
      font-size: 36px;
    }

    .block-content:hover {
      button {
        color: #0097d6;
        background-color: #fff;
      }
    }

    .block-content:hover {
      label {
        color: #0097d6;
        background-color: #fff;
      }
    }
  }

  &.export-pdf {
    .modal-dialog {
      width: 400px;
      max-width: 400px;
    }

    .modal-content {
      width: 400px;
      min-height: 160px;
      text-align: center;
      color: #fff;
      border-radius: 4px;
    }

    .modal-header {
      border-radius: 4px 4px 0 0;
    }
  }

  .modal-dialog {
    width: 700px;
    max-width: 700px;
  }

  .modal-content {
    color: #999999;
    font-size: 16px;
    min-height: 250px;

    .modal-header {
      background-color: #fff;
      border-bottom: 0;
    }

    .modal-header .modal-title {
      color: #999999;
      font-size: 19px;
    }

    .modal-body {
      padding: 20px 16px 16px 16px;
      background: #e3e3e3 linear-gradient(to top, #f2f2f2, #fff);
    }

    .modal-body {
      .block-content.video-link-wrapper {
        position: absolute;
        width: 70%;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .content-youtube {
        width: 300px;
        height: 150px;

        .video-thumbnail {
          width: auto;
          height: 100%;
        }
      }

      .video-info-dimensions {
        display: flex;

        span {
          font-size: 19px;
          vertical-align: middle;
        }
      }
    }

    .modal-footer {
      border-top: 2px solid #e3e3e3;

      .wrap {
        display: flex;
        margin: auto;

        .hdd,
        .clock {
          display: -webkit-flexbox;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
        }

        .hdd {
          margin-right: 40px;
        }

        span {
          font-size: 19px;
          vertical-align: middle;
          margin: 2px 0;
        }
      }

      .btn {
        width: 155px;
        //height: 48px;
        //padding: 6px;
        margin-bottom: 0;
      }

      button {
        margin: 0 7px;
      }
    }
  }

  .link-error {
    display: none;
    color: #ff0200;
  }

  input[name="video-youtube-link"] {
    border: 1px solid #ddd;
    height: 40px;
  }

  .close {
    color: #fff;
    opacity: 0.7;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 30px;
  }
  .team-members {
    a.remove-member {
      display: block;
      text-align: center;
    }
  }
  &.team-add {
    .modal-body {
      height: 250px;

      label {
        margin-bottom: 16px;
        font-size: 20px;
      }
    }
  }
}

.scene-action {
  img {
    margin: 10px;
  }
}

.zoom {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.covers-list-toggle {
  .navbar-toggler {
    ~ .covers-list-actions {
      display: flex;
    }

    &.collapsed {
      ~ .covers-list-actions {
        display: none;
      }
    }
  }

  .covers-list-actions {
    margin-right: 14px;
    padding: 3px;

    .instruction {
      margin-right: 60px;
    }

    .covers-list-action-add {
      margin: 0;
    }
  }
}

//loader for view-cube-wrapper
.loader {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 32px;
  height: 32px;
  z-index: 9999;

  &.gray-background {
    background: #999;
    border-radius: 50%;
    top: 0;
    left: auto;
    right: auto;
    width: 46px;
    height: 46px;
    padding: 9px;
  }
}

.alert {
  border-radius: 0;
  border: none;
  padding: 14px 12px 14px 75px;
  font-size: 1.5em;

  &:before {
    content: url('/img/logo_background.png');
    position: absolute;
    top: 8px;
    left: 14px;
  }

  .close {
    color: #ffffff;

    &:focus,
    &:hover {
      color: #fff;
      opacity: 1;
    }
  }
}

.alert-success,
.alert-info,
.alert-danger,
.alert-warning {
  color: #fff;
  background-color: #0097d6;
  border-color: #0097d6;
}

.footer {
  .company-logo {
    width: 160px;
    padding: 5px;
  }
}

.loader-wrapper {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  background-color: rgb(238, 238, 238);
  z-index: 99999;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(/img/tail-spin-blue.svg) center center no-repeat;
    padding: 5px;
    margin: 10px;
    width: 82px;
    height: 82px;
  }
}

//loader for page-list
.loader-wrapper-small {
  .loader-small {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(/img/tail-spin-blue-small.svg) center center no-repeat;
    padding: 4px;
    width: 52px;
    height: 52px;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #0097d6;
  outline: 1px solid #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.video-list {
  width: 100%;
  overflow-y: auto;

  .video-item {
    position: relative;
    height: 150px;
    border: solid 1px #ccc;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 4px;

    .image {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;

      img {
        position: absolute;
        width: auto;
      }
    }

    .title {
      position: absolute;
      bottom: 7px;
      left: 10px;
      font-size: 17px;
      width: 94%;
      overflow: hidden;
      height: 26px;
    }
  }
}

.action-video-block {
  margin-top: 15px;
  display: none;

  .action-video-preview {
    min-height: 30px;
    background: #0c5460;
  }
}

@media (max-height: 770px) {
  .main-sidebar {
    .copyright {
      position: relative;
      bottom: 0;
    }
  }
}

//@media (max-height: 700px) {
//  .main-sidebar {
//    .logout {
//      margin-top: 0;
//    }
//  }
//}

@media (max-height: 654px) {
  .main-sidebar {
    .logo {
      img {
        display: none;

        &.logo-mini {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .content {
    .wrapper-item {
      .item {
        margin: 0 2% 25px 0;
        width: 49%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  //.main-sidebar {
  //	max-width: 300px;
  //}
  .wrap_col .col {
    width: 100%;
    margin-bottom: 20px;
    min-height: inherit;
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .content {
    .wrapper-item {
      .item {
        margin: 0 2% 25px 0;
        width: 49%;
        display: inline-block;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  .main-sidebar.active {
    left: 0;
    opacity: 1;
  }

  .admin-panel {
    padding: 0 15px 30px;
  }

  .button-toggle {
    display: inline-block;

    &.active {
      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(1) {
        top: 8px;
      }

      span:nth-child(3) {
        top: 16px;
      }
    }
  }

  .content-wrapper {
    .content {
      min-height: unset;
    }
  }
}

@media (max-width: 768px) {
  .content {
    .item {
      .icons {
        .col p {
          font-size: 15px;
        }
      }
    }
  }

  .modal-open {
    .modal {
      margin-right: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 700px) {
  .main-sidebar {
    .logout {
      margin-top: 0;
    }
  }
  .content {
    .item {
      .icons {
        .col p {
          font-size: 15px;
        }
      }
    }

    .wrapper-item {
      padding: 0 20px;
      font-size: 0;

      item {
        margin: 0 0 25px 0;
        width: 100%;
        display: inline-block;
      }
    }

    .top {
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }

  .content-wrapper {
    padding: 0;
  }

  .wrap_col {
    .col {
      padding: 20px 15px;
    }
  }
  .add_category {
    .btn {
      display: table;
      margin: 0 auto 10px;
    }

    .top {
      a {
        font-size: 16px;
        padding: 0 10px 0 15px;
      }
    }
  }

  .modal-dialog {
    margin: 0 !important;
  }
}

@media (max-width: 400px) {
  .add_category {
    .top {
      a {
        font-size: 16px;
        padding: 0 5px 0 5px;
        text-align: center;
      }
    }

    .list_check {
      background: #f6f6f6;
      padding: 10px 5px 4px 10px;
      display: table;
      width: 100%;
    }
  }

  .wrap_col {
    .row_col {
      .icon {
        width: 40px;
        img {
          max-width: 60%;
        }
      }
    }
    .list_day {
      a {
        font-size: 14px;
        height: 35px;
      }
    }
  }

  .map_block {
    .coord {
      width: 220px;
      bottom: 55px;
      left: 10px;
    }

    .search {
      bottom: 10px;
      right: 10px;
      left: 10px;
      width: auto;
    }
  }

  .content {
    .item {
      .icons {
        padding: 16px 0 5px;
        .col {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }

    .number-project {
      display: none;
    }

    .navbar-form {
      width: 100%;
    }

    .buttons {
      .btn {
        width: 100%;
        margin: 0 0 6px;
      }
    }
  }

  .button-toggle {
    right: 5px;
  }

  .main-sidebar {
    padding-right: 0;
  }
}

.btn-signin-facebook {
  display: none;
}

@media (max-width: 700px) {
  .modal-body {
    max-height: calc(100vh - 120px);
  }
}

.svg-pencil-icon-dims {
  width: 23.65px;
  height: 23.65px;
  margin-top: 10px;
}

.svg-lock-mode-white-dims {
  width: 18px;
  height: 24px;
  margin-top: 10px;
}

.svg-delete-icon-dims {
  width: 23px;
  height: 24px;
  margin-top: 10px;
}

.svg-arrow-left-dims {
  width: 18px;
  height: 9.5px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.svg-action-undo-dims,
.svg-action-redo-dims {
  width: 24.8px;
  height: 19px;
  margin-top: 10px;
}

.svg-action-redo-dims {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.svg-export-arrow-dims,
.svg-cloud-publish-dims,
.svg-save-icon-dims {
  width: 17px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 2px;
}

.svg-cloud-publish-dims {
  width: 23px;
  height: 19.89px;
}

.svg-save-icon-dims {
  width: 24px;
  height: 24px;
}

.svg-plus-blue-dims {
  margin-top: 2px;
  width: 26px;
  height: 19px;
  stroke: #0097d6;
}

.svg-arrow-down-dims {
  margin: 15px 4px;
  width: 18px;
  height: 9.5px;
}

.navbar-top-info {
  .navbar-toggler[aria-expanded="true"] {
    .svg-arrow-down-dims {
      -webkit-transform:  rotate(180deg);
      -moz-transform:  rotate(180deg);
      -ms-transform:  rotate(180deg);
      -o-transform:  rotate(180deg);
      transform:  rotate(180deg);
    }
  }
}

.svg-drag-item-image-dims {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.view-lock-wrapper {
  .view-lock {
    .svg-lock-mode-white-dims {
      width: 18px;
      height: 24px;
      margin: 11px 14px;
    }
  }
}

.svg-search-dims {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.svg-minus-dims,
.svg-plus-dims {
  width: 13px;
  height: 1px;
  vertical-align: middle;
  margin: 10px;
}

.svg-plus-dims {
  width: 13px;
  height: 13px;
}

.settings-bar-toggle-wrapper {
  .svg-arrow-left-dims {
    width: 18px;
    height: 9.5px;
    margin-right: -10px;
    fill: none;
    stroke: #fff;
    stroke-width: 1.5;
  }
}

.svg-settings-dims {
  width: 24px;
  height: 23px;
}

.svg-layers-dims {
  width: 24px;
  height: 20px;
}

.svg-upload-dims {
  width: 23px;
  height: 23px;
}

.svg-warn-dims {
  width: 60px;
  height: 60px;
  fill: #b3b3b3;
}

.settings-tab {
  .card-header {
    .svg-arrow-up-white-dims {
      width: 18px;
      height: 9.5px;
      float: right;
      margin: 5px 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      transform: rotate(0deg);
    }

    a[aria-expanded="true"] {
      .svg-arrow-up-white-dims {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  .svg-scale-gray-dims {
    width: 17px;
    height: 17px;
    margin: 13px 5px;
  }

  .svg-action-3d-rotate-x-dims {
    width: 26px;
    height: 38px;
    top: 4px;
    left: 7px;
    position: absolute;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .svg-action-3d-rotate-y-dims {
    width: 26px;
    height: 38px;
    top: 11px;
    left: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .svg-action-3d-rotate-z-dims {
    width: 35.05px;
    height: 37px;
    top: 8px;
    left: 5px;
    position: absolute;
  }

  .svg-action-link-dims,
  .svg-action-video-dims {
    width: 18.31px;
    height: 18.31px;
    top: 8px;
    left: 8px;
    position: absolute;
  }

  .action-icon-link,
  .action-icon-video,
  .reset {
    background-color: #0097d6;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  .svg-action-video-dims {
    width: 16px;
    height: 16px;
    left: 11px;
    top: 8px;
  }

  .sign-valid {
    background-color: #6cb100;
    border-radius: 50%;

    .svg-valid-dims {
      width: 20px;
      height: 20px;
      fill:none;
      stroke:#fff;
      stroke-width:2px;
      margin-top: 6px;
      margin-left: 7px;
    }
  }

  .sign-invalid {
    background-color: #e42022;
    border-radius: 50%;

    .svg-invalid-dims {
      width: 17px;
      height: 17px;
      stroke: #fff;
      margin-top: 9px;
      margin-left: 9px;
      stroke-width: 1.5;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .reset {
    background-color: #0097d6;
    height: 28px;
    width: 28px;
    border-radius: 50%;

    .svg-close-button-dims {
      width: 15px;
      height: 15px;
      margin-top: 7px;
      margin-left: 7px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.svg-close-plus-dims {
  width: 15px;
  height: 15px;
  stroke: #ccc;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.svg-hdd-dims,
.svg-clock-dims,
.svg-cinema-dims {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

a.action.object-replace,
a.action.object-delete{
  display: inline-block;
  background-color: #082657;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  margin-bottom: 4px;

  .svg-context-menu-replace-object-dims {
    margin-top: 20px;
    width: 31px;
    height: 47px;
    stroke: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

a.action.object-delete {
  background-color: #e42022;

  .svg-context-menu-delete-icon-dims {
    vertical-align: middle;
    margin-top: 18px;
    width: 45px;
    height: 48px;
    stroke: #fff;
  }
}





