.list-items {
  margin-top: 20px;

  .list-item.team {
    padding: 20px 0;
    border-top: 1px solid #ccc;

    .actions {
      .col {
        margin: 4px 0;
      }
    }
  }
}

.team-title {
  text-transform: uppercase;
}

.team-members {
  display: none;
}

.modal {
  .team-members {
    display: block;
    min-width: 500px;

    .team-member-title-wrapper {
      display: flex;
      align-items: center;

      .team-member-title {
        padding: 0 20px;
      }
    }

    .team-member {
      margin: 10px;
    }
  }

  .sub-title {
    font-size: 20px;
    margin: 10px 0;
  }
}

.parameters {
  label {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
}